{% extends 'base.html' %}

{% block title %}
  Five Year Warranty | ArmaLaser
{% endblock %}

{% block metadescription %}
ArmaLaser lasers are protected by the best warranty in the industry -- five years.
{% endblock %}

{% block css %}
{% endblock %}

{% block outsidecontainer %}
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8" style="margin-bottom: 30px;">
          <h1 class="pagetitle">{{ pagetitle }}</h1

            <div class="well well-default">
                <p class="bold text-size130">Return Policy</p>
                <p>
                  If for any reason you are not satisfied with any product you purchase
                  from ArmaLaser Inc., you may return it to us within 30 days of receipt
                  for a full refund of the item(s) cost.
                </p>
                <p>
                  We want you to be satisfied with your purchase and hope to earn your
                  business in the future as well.
                </p>
            </div>

            <h3>ARMALASER LIMITED WARRANTY</h3>
            <p>
              For a period of sixty months (5 years) from the date of purchase,
              ArmaLaser Inc will, at no charge, repair this Product if determined by
              ArmaLaser Inc. to be defective in either parts or labor.
            </p>
            <p>
              This warranty is transferable to subsequent owners as long as the original
              receipt is presented.
            </p>
            <p>
              Warranty coverage does not apply to Products that have been abused,
              improperly installed, altered or modified, or when batteries have been
              improperly installed and caused damage beyond repair.
            </p>
            <p>
              <a href="/contact/get-rma-number">
                Click here to contact us for an RMA number for warranty service.
              </a>
            </p>
            <p>
              <small>This warranty applies to ArmaLaser manufactured products only,
                not to batteries or holsters. Please check with the holster
                manufacturers for warranty information.
              </small>
            </p>
        </div><!-- // .col-md-8 -->

        <div class="col-md-4">
            <h2>&nbsp;</h2>
            <img id="warranty-image" class="img-responsive"
            src="/assets/images/page/warranty/armalaser_5_yr_warranty.png" alt="ArmaLaser">
        </div><!-- // .col-md-4 -->

    </div>
</div>
{% endblock %}

{% block bottomjs %}

{% endblock %}
