{% extends 'base.html' %}

{% block title %}
  Exchange Program only at ArmaLaser
{% endblock %}

{% block metadescription %}
Exclusively at ArmaLaser: exchange your used ArmaLaser Laser for a new model. We're the only laser manufacturer with an exchange program where you can upgrade.
{% endblock %}

{% block css %}
{% endblock %}

{% block outsidecontainer %}
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8" style="margin-bottom: 40px;">
          <h1 class="pagetitle">{{ pagetitle }}</h1>

            <div class="well well-default" style="padding: 0px 15px;">
                <h3 style="margin-top:10px;">
                  <strong>Exclusively from ArmaLaser!</strong> The only Exchange Program in the
                  firearms laser industry!
                </h3>
            </div>

            <h4>
              ArmaLaser&#39;s exclusive <strong>Exchange Program</strong> is the only
              one of its kind in the firearms laser industry.
            </h4>

            <p>
              At any time of your ownership, you may request one model to be exchanged
              for another model for $65 (Red models), $90 (Green models). No additional
              shipping, handling or restocking fees.
            </p>

            <p>
              For example, if you sell your Kel-Tec P3AT and buy a SCCY CPX-1 or 2,
              you can return your P3AT Small Block or  TR1 and exchange it for our TR10.
              Or, if you have an RSS and wish to exchange it for a GTO, just return
              the laser model you wish to exchange with payment and your new laser
              will be sent to you.
            </p>

            <p class="bold">
              This is a great way to upgrade from our older generation models
              to newer ones.
            </p>

            <p>Please send your exchange to:</p>
            <p>
                ArmaLaser Inc.<br>
                ATTN: Exchange Program<br>
                5200 NW 43rd Street, Suite 102-123<br>
                Gainesville, FL 32606
            </p>

        </div><!-- // .col-md-8 -->

        <div class="col-md-4 col-sm-4">
            <h2>&nbsp;</h2>

            <!-- <img id="exchange-program-image" class="img-responsive"
            src="/assets/images/exchangeProgram/tr18_green_1080x560.png"
            alt="ArmaLaser exchange program"> -->

            <img id="exchange-program-image" class="img-responsive"
            src="/assets/images/page/exchangeProgram/tr07_green_1080x625.png"
            alt="ArmaLaser exchange program">
        </div><!-- // .col-md-4 -->

    </div>
</div>
{% endblock %}

{% block bottomjs %}

{% endblock %}
