<div class="col-md-6">
    <h3>Billing Information</h3>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group has-feedback">
                <label> First name</label>
                <input type="text" class="form-control" name="billing_firstname"
                    id="billing_firstname" placeholder="First name" value="{{ customer.billing_firstname }}"
                    {% if checkoutguest == 'true' %}autofocus{% endif %}>
                <span class="glyphicon form-control-feedback" id="billing_firstname1"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group has-feedback">
                <label>Last name</label>
                <input type="text" class="form-control" name="billing_lastname"
                    id="billing_lastname" placeholder="Last name" value="{{ customer.billing_lastname }}">
                <span class="glyphicon form-control-feedback" id="billing_lastname1"></span>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group has-feedback">
                <label>Company</label>
                <input type="text" class="form-control" name="billing_company"
                    id="billing_company" placeholder="Company" value="{{ customer.billing_company }}">
                <span class="glyphicon form-control-feedback" id="billing_company1"></span>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group has-feedback">
                <label>Telephone</label>
                <input type="text" class="form-control" name="billing_phone"
                    id="billing_phone" placeholder="Telephone" value="{{ customer.billing_phone }}">
                <span class="glyphicon form-control-feedback" id="billing_phone1"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group has-feedback">
                <label> Address</label>
                <input type="text" class="form-control" name="billing_address"
                    id="billing_address" placeholder="Address" value="{{ customer.billing_address }}">
                <span class="glyphicon form-control-feedback" id="billing_address1"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group has-feedback">
                <label>Apt / Ste</label>
                <input type="text" class="form-control" name="billing_address2"
                    id="billing_address2" placeholder="Apt / Ste" value="{{ customer.billing_address2 }}">
                <span class="glyphicon form-control-feedback" id="billing_address21"></span>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group has-feedback">
                <label>City</label>
                <input type="text" class="form-control" name="billing_city"
                    id="billing_city" placeholder="City" value="{{ customer.billing_city }}">
                <span class="glyphicon form-control-feedback" id="billing_city1"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group has-feedback">
                <label>State</label>
                <select class="form-control" name="billing_state" id="billing_state">
                    <option value="{{ customer.billing_state }}">{% if customer.billing_state %}{{ customer.billing_state }}{% else %}Select{% endif %}</option>
                    {% for state in states %}
                        <option value="{{ state.abbrev }}">{{ state.abbrev }}</option>
                    {% endfor %}
                </select>
                <span class="glyphicon form-control-feedback" id="billing_state1"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group has-feedback">
                <label>Zip</label>
                <input type="text" class="form-control" name="billing_zip"
                    id="billing_zip" placeholder="Zip" value="{{ customer.billing_zip }}">
                <span class="glyphicon form-control-feedback" id="billing_zip1"></span>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group has-feedback">
                <label>Email</label>
                <input type="email" class="form-control" name="email"
                    id="email" placeholder="Email" value="{{ customer.email }}">
                <span class="glyphicon form-control-feedback" id="email1"></span>
                <small>*Must be correct. Order verification sent to this email address.</small>
            </div>
        </div>
    </div>
</div>


<div class="col-md-6">
    <div class="row">
        <div class="col-md-7"><h3>Shipping information</h3></div>
        <div class="col-md-5">
            <div class="checkbox" style="margin-top: 26px;">
                <label>
                    <input name="same2" id="same2" onclick="copybilling()" type="checkbox">
                    Same as billing
                </label>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group has-feedback">
                <label>First name</label>
                <input type="text" class="form-control" name="shipping_firstname"
                    id="shipping_firstname" placeholder="First name" value="{{ customer.shipping_firstname }}">
                <span class="glyphicon form-control-feedback" id="shipping_firstname1"></span>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group has-feedback">
                <label>Last name</label>
                <input type="text" class="form-control" name="shipping_lastname"
                    id="shipping_lastname" placeholder="Last name" value="{{ customer.shipping_lastname }}">
                <span class="glyphicon form-control-feedback" id="shipping_lastname1"></span>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group has-feedback">
                <label>Company</label>
                <input type="text" class="form-control" name="shipping_company"
                    id="shipping_company" placeholder="Company" value="{{ customer.shipping_company }}">
                <span class="glyphicon form-control-feedback" id="shipping_company1"></span>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group has-feedback">
                <label>Telephone</label>
                <input type="text" class="form-control" name="shipping_phone"
                    id="shipping_phone" placeholder="Telephone" value="{{ customer.shipping_phone }}">
                <span class="glyphicon form-control-feedback" id="shipping_phone1"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group has-feedback">
                <label>Address</label>
                <input type="text" class="form-control" name="shipping_address"
                    id="shipping_address" placeholder="Address" value="{{ customer.shipping_address }}">
                <span class="glyphicon form-control-feedback" id="shipping_address1"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group has-feedback">
                <label>Apt / Ste </label>
                <input type="text" class="form-control" name="shipping_address2"
                    id="shipping_address2" placeholder="Apt / Ste" value="{{ customer.shipping_address2 }}">
                <span class="glyphicon form-control-feedback" id="shipping_address21"></span>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group has-feedback">
                <label>City</label>
                <input type="text" class="form-control" name="shipping_city"
                    id="shipping_city" placeholder="City" value="{{ customer.shipping_city }}">
                <span class="glyphicon form-control-feedback" id="shipping_city1"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group has-feedback">
                <label>State</label>
                <select class="form-control" name="shipping_state" id="shipping_state" autocomplete="off">
                <option value="{{ customer.shipping_state }}">{% if customer.shipping_state %}{{ customer.shipping_state }}{% else %}Select{% endif %}</option>
                    {% for state in states %}
                        <option value="{{ state.abbrev }}">{{ state.abbrev }}</option>
                    {% endfor %}
                </select>
                <span class="glyphicon form-control-feedback" id="shipping_state1"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group has-feedback">
                <label>Zip</label>
                <input type="text" class="form-control" name="shipping_zip"
                    id="shipping_zip" placeholder="Zip" value="{{ customer.shipping_zip }}">
                <span class="glyphicon form-control-feedback" id="shipping_zip1"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group has-feedback">
                <label>Address Type</label>
                <select class="form-control" name="addresstype" id="addresstype">
                    <option value="{{ customer.address_type }}">{% if customer.address_type %}{{ customer.address_type|title }}{% else %}Select{% endif %}</option>
                    <option value="residential">Residential</option>
                    <option value="commercial">Commercial</option>
                </select>
                <span class="glyphicon form-control-feedback" id="addresstype1"></span>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                    <label>Shipping instructions</label>
                <div class="form-group">
                    <textarea class="form-control" rows="1" name="shipping_instructions" id="shipping_instructions" placeholder="Special instructions"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

{% include '/Cart/choose-shipping.component.html' %}

<div class="col-sm-12 p4">
    <button class="btn btn-buy btn-lg" role="submit">Continue</button>
</div>
