{% extends 'base.html' %}

{% block title %}
  Checkout | ArmaLaser
{% endblock %}

{% block metadescription %}
Checkout page for ArmaLaser
{% endblock %}

{% block css %}
<style>
    .table tbody > tr > td,
    .table tfoot tr td {
        vertical-align: middle !important;
    }
    table tr:last-child {
        border-left: 1px solid #fff !important;
        border-right: 1px solid #fff !important;
    }
    #shippinginfo {
        display:block;
    }
    form .error {
        color: #ff0000;
    }
    #checkout-first-class-details,
    #checkout-priority-class-details,
    #checkout-ups-ground-details,
    #checkout-three-day-select-details,
    #checkout-second-day-air-details {
        display: none;
    }
    #next-day-in-fl {
        display:none;
    }
    .checkbox {
        margin-bottom: 10px !important;
    }
    input[type="radio"]:hover {
        cursor:pointer;
    }
    .shipping-radio-label:hover {
        text-decoration: underline;
        font-weight: bold;
    }
</style>
{% endblock %}

{% block outsidecontainer %}
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% include 'Cart/inc.cart.html' %}
        </div>
    </div>

    <form action="/cart/checkout/dealer-order-summary" method="post"
        name="bill_ship_info" id="bill_ship_info">

        <!-- Dealers prohibited from drop-shipping -->
        <h3>Ship-to information</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>First name</label>
                    <input type="text" class="form-control" name="dealer_firstname"
                        id="dealer_firstname" placeholder="First name" value="{{ customer.shipping_firstname }}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" class="form-control" name="dealer_lastname"
                        id="dealer_lastname" placeholder="Last name" value="{{ customer.shipping_lastname }}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Company</label>
                    <input type="text" class="form-control" name="dealer_company"
                        id="dealer_company" placeholder="Company" value="{{ customer.shipping_company|raw }}">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" name="dealer_address"
                        id="dealer_address" placeholder="Address" value="{{ customer.shipping_address }}">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Address2</label>
                    <input type="text" class="form-control" name="dealer_address2"
                        id="dealer_address2" placeholder="Address2" value="{{ customer.shipping_address2 }}">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" name="dealer_city"
                        id="dealer_city" placeholder="City" value="{{ customer.shipping_city }}">
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label>State</label>
                    <input type="text" class="form-control" name="dealer_state"
                       id="dealer_state" placeholder="State" value="{{ customer.shipping_state }}">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Zip</label>
                    <input type="text" class="form-control" name="dealer_zip"
                        id="dealer_zip" placeholder="Zip" value="{{ customer.shipping_zip }}">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Telephone</label>
                    <input type="text" class="form-control" name="dealer_phone"
                        id="dealer_phone" placeholder="Telephone" value="{{ customer.shipping_phone }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email"
                        id="email" placeholder="Email" value="{{ customer.email }}">
                </div>
            </div>
        </div>

        {% include 'Cart/choose-shipping.component.html' %}

            <input type="hidden" name="dealer_id" value="{{ customer.id }}">
            <input type="hidden" name="type" value="{{ session.userType }}">

            <div class="p4">
                <button id="continue-btn" class="btn btn-buy btn-lg" role="submit">Continue</button>
            </div>
    </form>
</div>
{% endblock %}

{% block bottomjs %}
<script>
$(document).ready(function(){

    $("#bill_ship_info").validate();

    // display shipping info when user returns to page
    if ($("#shipping_firstname").val() != '') {
        $("#shippinginfo").show();
    }

    $("#checkoutOptBtn").on('click', function(){
        $("form").submit(function(e){
            e.preventDefault();
        });
        console.log("Clicked!");
        let register = $("#checkoutOptions1").val();
        console.log(register);
        if (register === 'register') {
            console.log("Match!");
            window.location.href = "/admin/register";
        }
    });

    // make form fields where type=text readonly with white background
    $('#bill_ship_info :input[type=text]').prop('readonly', true);
    $('#bill_ship_info :input[type=text]').css({'backgroundColor': '#FFF'});



    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //

    // get shipping rate and data from Endicia or UPS APIs
    $( 'input[name="shipping_method"]' ).on('click', function() {
        // store
        var shipping_method = $('input:checked').val();
        console.log('Shipping method: ', shipping_method);

        // get all radio buttons
        var checkboxes = $('input[name="shipping_method"]');
        console.dir(checkboxes);

        var free = checkboxes[0].checked;
        var priority = checkboxes[1].checked;
        var upsGround = checkboxes[2].checked;
        var upsThreeDaySelect = checkboxes[3].checked;
        var upsSecondDayAir = checkboxes[4].checked;

        console.log('Free: ', free);
        console.log('Priority: ', priority);
        console.log('UPS Ground: ', upsGround);
        console.log('UPS 3 Day Select: ', upsThreeDaySelect);
        console.log('UPS 2nd Day Air: ', upsSecondDayAir);

        // get values for first-time buyer (not yet in db)
        // var shipAddress1 = document.getElementById('shipping_address').value;
        // console.log('shipAddress1: ', shipAddress1);

        // var total_weight = {{ cartMetaData.total_weight }}; // integer: no quotation marks
        var numberOfItems = {{ cartMetaData.numberOfItems }}; // integer: no quotation marks
        var company = '{% if customer.shipping_company %}{{ customer.shipping_company }}{% else %}'+ $("#shipping_company").val() +'{% endif %}';
        var firstName = '{% if customer.shipping_firstname %}{{ customer.shipping_firstname }}{% else %}'+ $("#shipping_firstname").val() +'{% endif %}';
        var lastName = '{% if customer.shipping_lastname %}{{ customer.shipping_lastname }}{% else %}'+ $("#shipping_lastname").val() +'{% endif %}';
        var phone = '{% if customer.shipping_phone %}{{ customer.shipping_phone }}{% else %}'+ $("#shipping_phone").val() +'{% endif %}'; // string: quotes
        var address1 = '{% if customer.shipping_address %}{{ customer.shipping_address }}{% else %}'+ $("#shipping_address").val() +'{% endif %}'; // string: quotes
        var address2 = '{% if customer.shipping_address2 %}{{ customer.shipping_address2 }}{% else %}'+ $("#shipping_address2").val() +'{% endif %}';
        var city = '{% if customer.shipping_city %}{{ customer.shipping_city }}{% else %}'+ $("#shipping_city").val() +'{% endif %}';
        var state = '{% if customer.shipping_state%}{{ customer.shipping_state }}{% else %}'+ $("#shipping_state").val() +'{% endif %}';
        var zip = '{% if customer.shipping_zip %}{{ customer.shipping_zip }}{% else %}'+ $("#shipping_zip").val() +'{% endif %}';

        // test
        console.log("User chose: " + shipping_method);
        console.log('Shipping method: ', shipping_method);
        console.log('Total weight: ', total_weight);
        console.log('Item count: ', numberOfItems);
        console.log('Company: ', company);
        console.log('First name: ', firstName);
        console.log('Last name: ', lastName);
        console.log('Phone: ', phone);
        console.log('Address1: ', address1);
        console.log('Address2: ', address2);
        console.log('City: ', city);
        console.log('State: ', state);
        console.log('Zip: ', zip);

        if (firstName === '' || lastName === '' || address1 === ''
            || city === '' || state === '' || zip === '') {

                alert("Shipping information that is is missing.");
                return;
        }


        // - - - - - FREE SHIPPING - user selects free shipping - - - - - - - //
        if (free === true) {
            // hide other shipping detail divs
            $("#checkout-priority-class-details").css("display", "none");
            $("#checkout-ups-ground-details").css("display", "none");
            $("#checkout-three-day-select-details").css("display", "none");
            $("#checkout-second-day-air-details").css("display", "none");
        }

        // - - - -PRIORITY MAIL - user selects priority mail - - - - - - - - //
        else if (priority === true) {
            // set standard price per ArmaLaser
            let price = 7.50;

            // hide other shipping detail divs
            $("#checkout-ups-ground-details").css("display", "none");
            $("#checkout-three-day-select-details").css("display", "none");
            $("#checkout-second-day-air-details").css("display", "none");

        // - - - - UPS GROUND - user selects UPS Ground - - - - - - - - - - - //
        } else if (upsGround === true) {

            console.log("UPS Ground selected.");

            // store UPS code value in variable
            var upsGroundCode = '03';

            // hide other shipping detail divs
            $("#checkout-priority-class-details").css("display", "none");
            $("#checkout-three-day-select-details").css("display", "none");
            $("#checkout-second-day-air-details").css("display", "none");

        // - - - - UPS THREE DAY SELECT - user selects UPS 3 Day Select - - - //
        } else if (upsThreeDaySelect === true) {

            console.log("UPS 3 Day Select selected.");

            // store UPS code value in variable
            var threeDaySelectCode = '12';

            // hide other shipping detail divs
            $("#checkout-priority-class-details").css("display", "none");
            $("#checkout-ups-ground-details").css("display", "none");
            $("#checkout-second-day-air-details").css("display", "none");

        // - - - - UPS 2ND DAY AIR - user selects UPS 2nd Day Air - - - - - - //
        } else if (upsSecondDayAir === true) {

            console.log("UPS 2nd Day Air selected.");

            // store UPS code value in variable
            var secondDayAirCode = '02';

            // hide other shipping detail divs
            $("#checkout-priority-class-details").css("display", "none");
            $("#checkout-ups-ground-details").css("display", "none");
            $("#checkout-three-day-select-details").css("display", "none");
        }
    });


    // - - - - - - functions - - - - - - - - - - //



});
</script>
{% endblock %}
