{% if session.cart|length < 1 %}
    <div class="col-md-8 col-center-block">
        <div class="alert alert-info" style="margin: 30px 0px 350px 0px;">
            <h2 class="text-center" style="padding:0px; padding: 0px 0px 15px 0px">Your shopping cart is empty.</h2>
        </div>
    </div>
{% else %}
    {% if session.userType == 'admin' or session.userType == 'supervisor' %}
        <h1>Shopping Cart - Admin only</h1>
    {% else %}
        <h1>{{ page_title }}</h1>
    {% endif %}

    <table class="table table-responsive table-bordered table-condensed"  style="background-color:#fff; border-bottom: 0px solid;">

        <thead>
            <tr>
                <th></th>
                <th>Description</th>
                <th class="text-center">Each</th>
                <!-- <th style="width:12em;">Quantity</th> -->
                <th class="text-center">Qty</th>
                <th>Extended</th>
                <th class="text-center"></th>
            </tr>
        </thead>

        <tbody>
            {% for item in cartContent %}
                <tr>
                    <td>
                        <img class="center-block"
                        src="{% if item.mvc_model == 'trseries' or item.mvc_model == 'trseriesnp' %}
                            /assets/images/laser-pistol/{{ item.model|trim('g')}}/{{ item.thumb }}
                        {% elseif item.mvc_model == 'gtoflx' %}
                            /assets/images/laser-pistol/{{ item.model|slice(-5,5)}}/{{ item.thumb }}
                        {% elseif item.mvc_model == 'gtonp' %}
                            /assets/images/laser-pistol/{{ item.model|slice(-5,5)}}/{{ item.thumb }}
                        {% elseif item.mvc_model in ['stingray', 'stingraynp'] %}
                            /assets/images/laser-pistol/{{ item.series}}/{{ item.thumb }}
                        {% elseif item.mvc_model == 'holster' %}
                            /assets/images/page/holsters/{{ item.thumb }}
                        {% elseif item.mvc_model == 'battery' %}
                            /assets/images/batteries/{{ item.thumb }}
                        {% elseif item.mvc_model == 'toolkit' %}
                            /assets/images/toolkits/{{ item.thumb }}
                        {% elseif item.mvc_model == 'accessory' %}
                            /assets/images/accessories/{{ item.thumb }}
                        {% elseif item.mvc_model == 'flx' %}
                            /assets/images/laser-pistol/{{ item.model}}/{{ item.thumb }}
                        {% endif %}"
                        height="75">
                    </td>
                    <td>
                        <!-- description -->
                        <!-- Part  -->
                        {% if item.mvc_model == 'part' %}
                            {{ item.name }}.

                        <!-- TR Series -->
                        {% elseif item.mvc_model == 'trseries'%}
                            {{ item.series|upper }}
                            {{ item.model|upper }} Laser
                            with {{ item.beam }} beam.
                            <br>
                            Fits {{ item.pistolMfr|upper }}® {{ item.pistol_models }}.

                        <!-- TR Series NP -->
                        {% elseif item.mvc_model == 'trseriesnp' %}
                            {{ item.name }} Laser
                            with {{ item.beam }} beam.
                            <br>
                            Fits {{ item.pistolMfr|upper }}® {{ item.pistol_models }}.

                        <!-- GTO/FLX -->
                        {% elseif item.mvc_model == 'gtoflx' %}
                            {{ item.series|replace({'-':'/'})|upper }} SERIES
                            {{ item.model|replace({'-':'/'})|upper }} Laser
                            with {{ item.beam }} beam.
                            <br>
                            Fits {{ item.pistolMfr|upper }}® {{ item.pistol_models }}.

                        <!-- GTO NP or GTO (no FLX) -->
                        {% elseif item.mvc_model == 'gtonp' %}
                            {{ item.name }}
                            with {{ item.beam }} beam.
                            <br>
                            Fits pistols with picatinny rail.

                        <!-- Stingray -->
                        {% elseif item.mvc_model == 'stingray' %}
                            {{ item.series|upper }}
                            {{ item.model|upper }} Laser
                            with {{ item.beam }} beam.
                            <br>
                            {% if not session.userType == 'dealer' or not session.userType == 'partner' %}
                                Fits {{ item.pistolMfr|upper }}® {{ item.pistol_models }}.
                            {% endif %}

                        <!-- Stingray NP -->
                        {% elseif item.mvc_model == 'stingraynp' %}
                            {{ item.name }}
                            with {{ item.beam }} beam.
                            <br>
                            Fits pistols with picatinny rail.

                        <!-- Holster  -->
                        {% elseif item.mvc_model == 'holster' %}
                            {{ item.holsterMfr }}® {{ item.model }}
                            {{ item.waist|upper }}
                            {% if item.hand == 'right' or  item.hand == 'left' %}
                                {{ item.hand |upper}}-HAND
                            {% endif %}
                            HOLSTER
                            <br>
                            Fits  {{ item.pistolMfr|upper }} {{ item.pistol_models }}
                            <br>
                            with TR Series {{ item.trseriesModel|upper }} / {{ item.trseriesModel|upper }}G Laser

                        <!-- Battery  -->
                        {% elseif item.mvc_model == 'battery' %}
                            {{ item.name }}. {{ item.description }}.

                        <!-- Toolkit  -->
                        {% elseif item.mvc_model == 'toolkit' %}
                            {{ item.name }}.

                        <!-- Accessory  -->
                        {% elseif item.mvc_model == 'accessory' %}
                            {{ item.name }}. {{ item.description }}.

                        <!-- Flx  -->
                        {% elseif item.mvc_model == 'flx' %}
                            {{ item.model|upper }} for {{ item.pistolMfr|upper }}® {{ item.pistol_models }}

                        {% endif %}
                    </td>

                    <!-- admin or supervisor only -->
                    {% if session.userType == 'admin' or session.userType == 'supervisor' %}
                        <td class="text-center" style="width:12em;">
                            {{ item.price }}
                            <!-- <form action="/cart/update-unit-price" method="post">
                                <div class="input-group">
                                    <input type="number" class="form-control" name="new_price" id="new_price" min="0.00" step=".01" value="{{ item.price }}">
                                    <span class="input-group-btn">
                                        <input type="hidden" name="id" value="{{ item.id }}">
                                        <input type="hidden" name="customer_id" value="{{ customer.id }}">
                                        <input type="hidden" name="customer_type" value="{{ customer.type }}">
                                        <button class="btn btn-default"  type="submit">
                                            Update
                                        </button>
                                    </span>
                                </div>
                            </form> -->
                        </td>

                    <!-- default  -->
                    {% else %}
                        <td>{{ item.price|number_format(2) }}</td>
                    {% endif %}
                    <td class="text-center" style="width:10em;">
                        <form method="post" action="/cart/update-quantity">
                            <div class="input-group">
                                <input type="number" class="form-control" name="new_quantity" id="update_qty" min="1" value="{{ item.quantity }}">
                                <span class="input-group-btn">
                                    <input type="hidden" name="id" value="{{ item.id }}">
                                    <input type="hidden" name="customer_id" value="{{ customer.id }}">
                                    <input type="hidden" name="type" value="{{ customer.type }}">
                                    <button class="btn btn-default" type="submit">
                                        Update
                                    </button>
                                </span>
                            </div>
                        </form>
                    </td>
                    <td style="text-align: right;">{{ (item.price * item.quantity)|number_format(2) }}</td>
                    <td class="text-center">
                        <a href="/cart/delete-item?id={{ item.id }}"
                            onclick="return confirm('Delete {{ item.series|upper }} {{ item.model|upper}} from cart now?');"
                            title="Delete item from cart">
                            <span style="color:#ff0000;" class='glyphicon glyphicon-trash'></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <!--  Resource:  https://developer.paypal.com/docs/classic/paypal-payments-standard/integration-guide/Appx_websitestandard_htmlvariables/ -->
    </table>
    <p style="margin-top: -19px;">
        <small>*Firearm shown for display purposes only. Firearm not included.</small>
    </p>


    <div class="col-md-3 col-md-offset-9" style="margin-top: -30px;">
        <div class="row">
            <div class="text-right p1">
                <h4><span class="bold">TOTAL: &nbsp;&nbsp;</span>{{ session.cart_total|number_format(2) }}</h4>
            </div>

            <!-- <h1>{{ session.userType }}</h1> -->

            <!-- display coupon code section only for customers or guests -->
            {% if session.userType == 'customer' or session.userType == '' %}

                <div {% if nobutton%}style="display:none;"{% endif %}>
                    <div class="input-group p1">
                        <input id="cart_coupon" name='cart_coupon' type="text"
                            class="form-control" placeholder="Coupon code"
                            {% if session.total_discount %}readonly{% endif %}>
                        <input type="hidden" name="cart_customer_id" id="cart_customer_id"
                            value="{{ session.user_id }}">
                        <span class="input-group-btn">
                            <!-- Ajax code in cart/index.html -->
                            <button id="cart_check_coupon_btn" class="btn btn-default"
                                type="button" {% if session.total_discount %}disabled{% endif %}>
                                Check
                            </button>
                        </span>
                    </div>

                    <!-- Ajax response data -->
                    <div id="coupon_data">
                        <div id="coupon_details" style="margin-bottom: 20px;"></div>
                    </div>
                    <!-- end Ajax response -->

                    {% if session.total_discount %}
                        <div class="alert alert-info">
                            <p>A {{ session.promo_name }} discount of ${{ session.total_discount|number_format(2) }} has been applied to this order.</p>
                            <p>New total: <strong>${{ session.cart_total|number_format(2) }}</strong></p>
                        </div>
                    {% endif %}
                </div>
            {% endif %}


            <!-- admin or supervisor checking out  -->
            {% if session.userType == 'admin' or session.userType == 'supervisor' %}
                <div class="p3" {% if nobutton%}style="display:none;"{% endif %}>
                    <a href="/cart/checkout-admin?id={{ customer.id }}&type={{ customer.type }}" style="vertical-align:middle"
                        class="btn btn-primary btn-block">
                        Checkout by Admin
                    </a>
                </div>
            {% elseif session.userType == 'customer' %}
                <!--  logged in customer checkout  -->
                <div class="p3" {% if nobutton%}style="display:none;"{% endif %}>
                    <a href="/cart/checkout?id=nobutton" style="vertical-align:middle" class="btn btn-primary btn-block">
                        Checkout
                    </a>
                </div>
            {% elseif session.userType == 'dealer' %}
                <!--  logged in customer checkout  -->
                <div class="p3" {% if nobutton%}style="display:none;"{% endif %}>
                    <a href="/cart/checkout" style="vertical-align:middle" class="btn btn-primary btn-block">
                        Checkout
                    </a>
                </div>
            {% elseif session.userType == 'partner' %}
                <!--  logged in customer checkout  -->
                <div class="p3" {% if nobutton%}style="display:none;"{% endif %}>
                    <a href="/cart/checkout" style="vertical-align:middle" class="btn btn-primary btn-block">
                        Checkout
                    </a>
                </div>
            {% else %}
                 <!--  guest checkout  -->
                 <div class="p3" {% if nobutton%}style="display:none;"{% endif %}>
                        <!-- <a href="/cart/checkout/guest?id=nobutton" style="vertical-align:middle" class="btn btn-primary btn-block"> -->
                        <a href="/cart/checkout" style="vertical-align:middle" class="btn btn-primary btn-block">
                            Checkout
                        </a>
                    </div>
            {% endif %}
        </div>
    </div>
{% endif %}
