{% extends 'base.html' %}

{% block title %}
  Order Summary | ArmaLaser
{% endblock %}

{% block metadescription %}
Order summary
{% endblock %}

{% block css %}
<style>
    .table tbody > tr > td,
    .table tfoot tr td {
        vertical-align: middle !important;
    }
    table tr:last-child {
        border-left: 1px solid #fff !important;
        border-right: 1px solid #fff !important;
    }
    #shippinginfo,
    #savings-total {
        display:none;
    }
    #discount-btn-div {
        display: none;
    }
    .error {
        color: #ff0000;
    }
</style>
{% endblock %}

{% block outsidecontainer %}
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% include 'Cart/inc.cart.html' %}
        </div>

        <div class="col-md-4 col-xs-12">
            <h2>Order Summary</h2>
            <table class="table">
                <tr>
                    <td>{{ cartMetaData.numberOfItems }}{% if cartMetaData.numberOfItems < 2 %} Item {% else %} Items {% endif %}</td>
                    <td class="text-right">${{ cartMetaData.pretax_total|number_format(2) }}</td>
                </tr>
                <tr>
                    <td>Shipping: {% if shipping_data.shipping_method|slice(0, 3) == 'UPS' %}<span><img height="25" src="/assets/images/ups/logo_small.gif"></span>{% else %}<span><img height="25" src="/assets/images/usps/logo.png"></span>{% endif %} {{ shipping_data.shipping_method }} </td>
                    <td class="text-right">${% if shipping_data.shipping_cost > 0 %}{{ shipping_data.shipping_cost|number_format(2) }}{% else %}0.00{% endif %}</td>
                </tr>
                <tr>
                    <td>Subtotal:</td>
                    <td class="text-right">${{ (cartMetaData.pretax_total + shipping_data.shipping_cost)|number_format(2, '.', ',') }}</td>
                </tr>
                <!-- ship to state == Florida -->
                {% if session.sales_tax_data.otax_state == 'fl' %}
                    <tr>
                        <td>{{ session.sales_tax_data.otax_state|upper }} sales tax:</td>
                        <td class="text-right">${{ session.sales_tax_data.otax_state_amt }}</td>
                    </tr>
                    <tr>
                        <td>{{ session.sales_tax_data.otax_county|title }} sales tax:</td>
                        <td class="text-right">${{ session.sales_tax_data.otax_county_amt }}</td>
                    </tr>
                <!-- ship to == other than Florida -->
                {% else %}
                    <tr>
                        <td>State sales tax:</td>
                        <td class="text-right">${{ salesTax|number_format(2, '.', '') }}</td>
                    </tr>
                    <tr>
                        <td>County sales tax:</td>
                        <td class="text-right">${{ salesTax|number_format(2, '.', '') }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>TOTAL:</td>
                    <td class="text-right" id="order_grand_total">
                        ${% if salesTax > 0 %}
                            {{ (cartMetaData.pretax_total + shipping_data.shipping_cost + session.sales_tax_data.otax_total)|number_format(2, '.', ',') }}
                        {% else %}
                            {{ (cartMetaData.pretax_total + shipping_data.shipping_cost)|number_format(2, '.', ',') }}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-md-4 col-xs-12">
            <h2>Bill To</h2>
            <table class="table">
                <tr>
                    <td>Name:</td>
                    <td class="text-right">
                        {{ billing_data.billing_firstname }}
                        {{ billing_data.billing_lastname }}
                    </td>
                </tr>
                    <tr>
                        <td>Company:</td>
                        <td class="text-right">
                            {% if billing_data.billing_company %}
                                {{ billing_data.billing_company|raw }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                <tr>
                    <td>Address:</td>
                    <td class="text-right">
                        {{ billing_data.billing_address }}
                    </td>
                </tr>
                {% if billing_data.shipping_address2 != '' %}
                    <tr>
                        <td>Apt / Ste:</td>
                        <td class="text-right">
                            {{ billing_data.billing_address2 }}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td>City:</td>
                    <td class="text-right">
                        {{ billing_data.billing_city }}
                    </td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td class="text-right">
                        {{ billing_data.billing_state }}
                    </td>
                </tr>
                <tr>
                    <td>Zip:</td>
                    <td class="text-right">
                        {{ billing_data.billing_zip }}
                    </td>
                </tr>
            </table>

        </div>

        <div class="col-md-4 col-xs-12">
            <h2>Ship To</h2>
            <table class="table">
                <tr>
                    <td>Name:</td>
                    <td class="text-right">
                        {{ shipping_data.shipping_firstname }}
                        {{ shipping_data.shipping_lastname }}
                    </td>
                </tr>
                <tr>
                    <td>Company:</td>
                    <td class="text-right">
                            {% if shipping_data.shipping_company %}
                            {{ shipping_data.shipping_company|raw }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td class="text-right">
                        {{ shipping_data.shipping_address }}
                    </td>
                </tr>
                {% if shipping_data.shipping_address2 != '' %}
                    <tr>
                        <td>Apt / Ste:</td>
                        <td class="text-right">
                            {{ shipping_data.shipping_address2 }}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td>City:</td>
                    <td class="text-right">
                        {{ shipping_data.shipping_city }}
                    </td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td class="text-right">
                        {{ shipping_data.shipping_state }}
                    </td>
                </tr>
                <tr>
                    <td>Zip:</td>
                    <td class="text-right">
                        {{ shipping_data.shipping_zip }}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    {% if shipping_data.shipping_instructions %}
        <div class="row" style="margin-bottom:20px;">
            <div class="col-sm-6">
                <h3>Shipping Instructions</h3>
                <div style="border: 1px solid #eee; border-radius:3px; padding: 15px;">
                    <p>{{ shipping_data.shipping_instructions }}</p>
                </div>
            </div>
            <div class="col-sm-6"></div>
        </div>
    {% endif %}

    <!-- order total == $0.00 -->
    {% if adminCheckout == 'true' and grandTotal == 0 %}
        <h2>Total due = ${{ grandTotal }}. Payment not required</h2>
        <h4 class="p3">
            <a href="/cart/checkout/process-no-payment?id={{ customer.id }}&type={{ customer.type }}"
                class="btn btn-primary btn-lg">
                Process Order Now
            </a>
        </h4>
    {% else %}
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <form class="form-horizontal" role="form" name="payment-form" id="payment-form"
                    action="/cart/checkout/process-payment?id={{ customer.id }}&type={{ customer.type }}" method="post">

                    <h2 style="margin-bottom: 25px;">
                        Credit card information
                    </h2>

                    <input type="hidden" name="cc_email"
                            id="cc_email" value="{{ customer.email }}">

                    <input type="hidden" name="ship_to_zip"
                            id="ship_to_zip" value="{{ shipping_data.shipping_zip }}">

                    <div class="form-group">
                        <label for="first_name" class="col-sm-3 control-label">
                            First name
                        </label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control required" name="first_name"
                            id="first_name" placeholder="First name (as it appears on card)"
                            value="Jim">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="last_name" class="col-sm-3 control-label">
                            Last name
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control required" name="last_name"
                            id="last_name" placeholder="Last name (as it appears on card)"
                            value="Burns">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="card-holder-name">
                            Card type
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control col-sm-2 required" name="cardtype" id="cardtype">
                                <option value="">Select</option>
                                <option value="0">Visa</option>
                                <option value="1">MasterCard</option>
                                <option value="2">Discover</option>
                                <option value="3">American Express</option>
                                <option value="4">Diner's Club</option>
                                <option value="5">JCB</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="acct">
                          Card Number
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control required" name="acct"
                                id="ACCT" placeholder="Debit/Credit Card Number"
                                value="4111111111111111">
                        </div>
                        <!--sandbox value="4032034487575998" -->
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="exp_month">
                          Expiration Date
                        </label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-xs-4">
                                    <select class="form-control col-sm-2 required" name="exp_month" id="exp_month">
                                        <option value="">Month</option>
                                        <option value="01">Jan</option>
                                        <option value="02">Feb</option>
                                        <option value="03">Mar</option>
                                        <option value="04">Apr</option>
                                        <option value="05">May</option>
                                        <option value="06">Jun</option>
                                        <option value="07">Jul</option>
                                        <option value="08">Aug</option>
                                        <option value="09">Sep</option>
                                        <option value="10">Oct</option>
                                        <option value="11">Nov</option>
                                        <option value="12">Dec</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control required" name="exp_year"
                                        {% if pagetitle == 'Add agents' %}tabindex="6"{% endif %}>
                                        {% set currentYear = "now"|date("Y") %}
                                        {% set year = "now"|date("y") %}
                                        <option value="{{ year }}">{{ currentYear }}</option>
                                        <option value="{{ year+1 }}">{{ currentYear+1 }}</option>
                                        <option value="{{ year+2 }}">{{ currentYear+2 }}</option>
                                        <option value="{{ year+3 }}">{{ currentYear+3 }}</option>
                                        <option value="{{ year+4 }}">{{ currentYear+4 }}</option>
                                        <option value="{{ year+5 }}">{{ currentYear+5 }}</option>
                                    <option value="{{ year+6 }}">{{ currentYear+6 }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="cvv2">
                            Card CVV
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control required" name="cvv2" id="cvv2"
                                placeholder="Security Code" value="123">
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="amt">
                            Amount
                        </label>
                        <div class="col-sm-9">
                            <!-- Twig likes code on one continuous line and without any spaces between elements -->
                            <input type="text" class="form-control required" name="amt" id="amt"
                                style="background-color: #fff;" placeholder="Amount" readonly
                                value="{{ (grandTotal|number_format(2))|replace({',' : ''}) }}">
                        </div>
                    </div>
                    {% if (not session.userType == 'dealer') or (not session.userType == 'partner') %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="cvv2">
                                Coupon code
                            </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="discount_coupon" id="discount_coupon"
                                    placeholder="Coupon code">
                            </div>
                            <div id="discount-btn-div">
                                    <div class="col-sm-3">
                                        <button id="apply-discount-btn" class="btn btn-success">
                                            Click to apply coupon
                                        </button>
                                    </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="form-group" id="savings-total">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div id="savings-amt" style="color:#0000ff"></div>
                        </div>
                    </div>


                    <!-- <input type="hidden" name="taxamt" id="taxamt" value="{% if cartMetaData.salesTax %}{{ cartMetaData.salesTax|number_format(2) }}{% endif %}">
                    <input type="hidden" name="freightamt" id="freightamt" value="{% if cartMetaData.priority_mail %}{{ cartMetaData.priority_mail|number_format(2) }}{% endif %}">
                    <input type="hidden" name="discount_amount" id="discount_amount"> -->

                    <div class="form-group has-feedback has-feedback">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label for="agree">
                                   <input type="checkbox" class="required" name="agree" id="agree">
                                   I agree to the <a href="#">terms &amp; conditions</a>
                                </label>
                            </div>
                        </div>
                      </div>


                      <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" id="pay-now-btn" class="btn btn-primary btn-lg" disabled>
                                Pay Now
                            </button>

                            <div style="margin-top:15px;">
                                <small>
                                    Your credit card information is securely processed
                                    by PayPal's Payflow Gateway. ArmaLaser does not
                                    store credit card information.<br> ArmaLaser will
                                    never email, text or telephone you regarding
                                    your credit card information.
                                </small>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block bottomjs %}
<script>
$(document).ready(function(){

    $("#payment-form").validate();


    $("#checkoutOptBtn").on('click', function(){
        $("form").submit(function(e){
            e.preventDefault();
        });
        console.log("Clicked!");
        let register = $("#checkoutOptions1").val();
        console.log(register);
        if (register === 'register') {
            console.log("Match!");
            window.location.href = "/admin/register";
        }
    });


    $("#sameAsBilling").on('click', function() {
        if ($(this).is(':checked')) {
            $("#shippinginfo").slideDown();
        } else  {
            $("#shippinginfo").slideUp();
        }
    });

    // display apply discount button only if input has content
    $("#discount_coupon").on('keyup', function(){
        let content = $(this).val();
        console.log(content);
        $("#discount-btn-div").show();
        if (content === '') {
            $("#discount-btn-div").hide();
        }
    });


    $("#apply-discount-btn").on('click', function(event) {
        event.preventDefault();
        let discount_coupon = $("#discount_coupon").val();
        console.log('Coupon: ', discount_coupon);

        $.ajax({
            url: '/cart/checkout/process-discount',
            type: 'POST',
            data: {
                discount_coupon: discount_coupon,
                shipping_method: '{{ shipping_data.shipping_method }}',
                shipping_cost: {{ shipping_data.shipping_cost }},
                sales_tax: {{ salesTax }},
                pretax_total: {{ cartMetaData.pretax_total }},
                total: {% if salesTax > 0 %}{{ (cartMetaData.pretax_total + shipping_data.shipping_cost + salesTax) }}{% else %}{{ (cartMetaData.pretax_total + shipping_data.shipping_cost) }}{% endif %}
            },
            // dataType: 'json',
            success: function(result) {
                console.log(result);
                console.log('======');
                if (result == 'error') {
                    alert("The coupon you entered is not valid.");
                    $("#discount_coupon").focus();
                    return false;
                } else {
                    console.log("Success");

                    // parse JSON from PHP into JavaScript object
                    let res = $.parseJSON(result);

                    // loop through JavaScript object and display in view
                    $.each(res, function (key, value){
                        // PayPal requires toFixed(2) format for money
                        $("#amt").val(res.discounted_grand_total);
                        $("#savings-total").show();
                        $("#savings-amt").html('<div class="alert alert-success" style="margin-bottom:0;"><h3 style="margin:0">You saved $' + res.discount_amount + '!</h3></div>');
                        $("#discount_amount").val(res.discount_amount);
                    });
                }
            },
            error: function() {
                alert("Ajax error");
            }
        });
    });

    let checkbox = $('input[name = "agree"]');
        console.dir(checkbox);
        checkbox.change(function() {
            let status = this.checked;
            console.log(status);
            if (status === true) {
                document.getElementById("pay-now-btn").disabled = false;
            }
            if (status === false) {
                document.getElementById("pay-now-btn").disabled = true;
            }
        });


});
</script>
{% endblock %}
