{% extends 'base.html' %}

{% block title %}
  Order Summary | ArmaLaser
{% endblock %}

{% block metadescription %}
Order summary
{% endblock %}

{% block css %}
<style>
    .table tbody > tr > td,
    .table tfoot tr td {
        vertical-align: middle !important;
    }
    table tr:last-child {
        border-left: 1px solid #fff !important;
        border-right: 1px solid #fff !important;
    }
    #shippinginfo,
    #savings-total {
        display:none;
    }
    #discount-btn-div {
        display: none;
    }
    .error {
        color: #ff0000;
    }
    #admin-credit-card-info-div {
        display: none;
    }
</style>
{% endblock %}

{% block outsidecontainer %}
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% include 'Cart/inc.cart.html' %}
        </div>

        {% include 'Cart/order-bill-to-ship-to.component.html' %}

    </div>

    {% if shipping_data.shipping_instructions %}
        <div class="row" style="margin-bottom:20px;">
            <div class="col-sm-6">
                <h3>Shipping Instructions</h3>
                <div style="border: 1px solid #eee; border-radius:3px; padding: 15px;">
                    <p>{{ customer.shipping_instructions }}</p>
                </div>
            </div>
            <div class="col-sm-6"></div>
        </div>
    {% endif %}

    <h2>Continue</h2>
    <div class="btn-group p3" role="group">
        <button type="button" class="btn btn-info" id="display-credit-card-info-btn">Enter Credit Card Info</button>
        <a href="/cart/checkout/process-without-payment?id={{ customer.id }}&type={{ customer.type }}"
            class="btn btn-primary" id="display-credit-card-info-btn">Checkout Now without Payment</a>
    </div>

    <div id="admin-credit-card-info-div">
        <!-- order total == $0.00 -->
        {% if adminCheckout == 'true' and grandTotal == 0 %}
            <h2>Total due = ${{ grandTotal }}. Payment not required</h2>
            <h4 class="p3">
                <a href="/cart/checkout/process-no-payment?id={{ customer.id }}&type={{ customer.type }}"
                    class="btn btn-primary btn-lg">
                    Process Order Now
                </a>
            </h4>
        {% else %}

            {% include 'Cart/credit-card-info.component.html' %}

        {% endif %}
    </div>
</div>
{% endblock %}

{% block bottomjs %}
<script>
$(document).ready(function(){

    $("#payment-form").validate();


    $("#checkoutOptBtn").on('click', function(){
        $("form").submit(function(e){
            e.preventDefault();
        });
        console.log("Clicked!");
        let register = $("#checkoutOptions1").val();
        console.log(register);
        if (register === 'register') {
            console.log("Match!");
            window.location.href = "/admin/register";
        }
    });


    $("#sameAsBilling").on('click', function() {
        if ($(this).is(':checked')) {
            $("#shippinginfo").slideDown();
        } else  {
            $("#shippinginfo").slideUp();
        }
    });

    // display apply discount button only if input has content
    $("#discount_coupon").on('keyup', function(){
        let content = $(this).val();
        console.log(content);
        $("#discount-btn-div").show();
        if (content === '') {
            $("#discount-btn-div").hide();
        }
    });


    $("#apply-discount-btn").on('click', function(event) {
        event.preventDefault();
        let discount_coupon = $("#discount_coupon").val();
        console.log('Coupon: ', discount_coupon);

        $.ajax({
            url: '/cart/checkout/process-discount',
            type: 'POST',
            data: {
                discount_coupon: discount_coupon,
                shipping_method: '{{ shipping_data.shipping_method }}',
                shipping_cost: {{ shipping_data.shipping_cost }},
                sales_tax: {{ salesTax }},
                pretax_total: {{ cartMetaData.pretax_total }},
                total: {% if salesTax > 0 %}{{ (cartMetaData.pretax_total + shipping_data.shipping_cost + salesTax) }}{% else %}{{ (cartMetaData.pretax_total + shipping_data.shipping_cost) }}{% endif %}
            },
            // dataType: 'json',
            success: function(result) {
                console.log(result);
                console.log('======');
                if (result == 'error') {
                    alert("The coupon you entered is not valid.");
                    $("#discount_coupon").focus();
                    return false;
                } else {
                    console.log("Success");

                    // parse JSON from PHP into JavaScript object
                    let res = $.parseJSON(result);

                    // loop through JavaScript object and display in view
                    $.each(res, function (key, value){
                        // PayPal requires toFixed(2) format for money
                        $("#amt").val(res.discounted_grand_total);
                        $("#savings-total").show();
                        $("#savings-amt").html('<div class="alert alert-success" style="margin-bottom:0;"><h3 style="margin:0">You saved $' + res.discount_amount + '!</h3></div>');
                        $("#discount_amount").val(res.discount_amount);
                    });
                }
            },
            error: function() {
                alert("Ajax error");
            }
        });
    });

    let checkbox = $('input[name = "agree"]');
        console.dir(checkbox);
        checkbox.change(function() {
            let status = this.checked;
            console.log(status);
            if (status === true) {
                document.getElementById("pay-now-btn").disabled = false;
            }
            if (status === false) {
                document.getElementById("pay-now-btn").disabled = true;
            }
        });


    $("#display-credit-card-info-btn").click(function() {
        var displayStatus = $("#admin-credit-card-info-div").css('display');
        if (displayStatus === 'block') {
            $("#admin-credit-card-info-div").hide(500);
            $("#display-credit-card-info-btn").text('Enter Credit Card Info');
        } else if (displayStatus === 'none') {
            $("#admin-credit-card-info-div").show(500);
            $("#display-credit-card-info-btn").text('Hide Credit Card Info');
        }
    });


});
</script>
{% endblock %}
