{% extends 'base.html' %}

{% block title %}
LaserGlow™ Bullseye and Silhouette Targets for daytime practice
{% endblock %}

{% block metadescription %}
Purchase ArmaLaser's LaserGlow™ Bullseye and Silhouette targets online. New LaserGlow™ technology makes it possible to see a laser dot in broad daylight.{% endblock %}

{% block css %}
{% endblock %}

{% block outsidecontainer %}
{% endblock %}


{% block content %}
<div class="bg-000 p3">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-center-block">
                <h1 class="text-center" style="margin:0px; padding: 15px 0px; color:#fff; font-size: 60px;">
                    PRETTY DARN CLOSE TO MAGIC
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="container p3">
    <div class="row">

        <div class="col-md-8 col-center-block">
            <picture>
                <source srcset="/assets/images/page/targets/laser-glow-logo2.png"
                    alt="ArmaLaser LaserGlow targets" media="(min-width:1200px)">

                <source srcset="/assets/images/page/targets/laser-glow-logo2_med.png"
                    alt="ArmaLaser LaserGlow targets" media="(min-width:760px)">

                <source srcset="/assets/images/page/targets/laser-glow-logo2_small.png"
                    alt="ArmaLaser LaserGlow targets" media="(min-width:200px)">

                <img class="img-responsive center-block"
                    src="/assets/images/page/targets/laser-glow-logo2_thumb.png"
                    alt="ArmaLaser LaserGlow targets">
            </picture>

            <!-- <img class="img-responsive" src="/assets/images/page/targets/laser-glow-logo2.png"
              alt="ArmaLaser LaserGlow targets"> -->
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-center-block">
            <h2 class="text-center" style="font-size: 48px;">
              If it&#39;s so bright outside you can&#39;t even
              <br>
              see the laser dot, it&#39;ll <i>SHINE BRIGHTLY</i>
              <br>
              on a LaserGlow Target.
            </h2>
        </div>
    </div>
</div>

<div class="container p3 text-center">
    <div class="row">
        <div class="col-md-6 col-center-block">
          <a href="/laser-accessories/accessory/{{ bullseyeID }}/laserglow-circular-bullseye-target">
              <picture>
                  <source srcset="/assets/images/page/targets/tt01_med.png"
                      alt="ArmaLaser LaserGlow targets" media="(min-width:1200px)">

                  <source srcset="/assets/images/page/targets/tt01_med.png"
                      alt="ArmaLaser LaserGlow targets" media="(min-width:760px)">

                  <source srcset="/assets/images/page/targets/tt01_small.png"
                      alt="ArmaLaser LaserGlow targets" media="(min-width:200px)">

                  <img class="img-responsive center-block"
                      src="/assets/images/page/targets/tt01_thumb.png"
                      alt="ArmaLaser LaserGlow targets">
              </picture>

                <!-- <img class="img-responsive" src="/assets/images/page/targets/tt01.png"
                  alt="ArmaLaser LaserGlow targets"> -->
          </a>
        </div>
        <p style="font-size: 24px; font-style: italic;">
          <a  style="color:#0000ff" href="/laser-accessories/accessory/{{ bullseyeID }}/laserglow-circular-bullseye-target">
            Learn more about the TT-01 12"x12" Bullseye Target
          </a>
        </p>
        <a class="btn btn-buy btn-lg" href="/laser-accessories/accessory/{{ bullseyeID }}/laserglow-circular-bullseye-target">
          Buy
        </a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-center-block">
            <h2 class="text-center" style="font-size: 48px;">
              A weapon&#39;s light or flashlight will <i>LIGHT UP</i>
              <br>
              a LaserGlow Target almost as brightly
              <br>
              as a TV in the dark. Practice/train at night.
            </h2>
        </div>
    </div>
</div>

<div class="container p3 text-center">
    <div class="row">
        <div class="col-md-6 col-center-block">
            <a href="/laser-accessories/accessory/{{ silhouetteID }}/laserglow-silhouette-target">
                <picture>
                    <source srcset="/assets/images/page/targets/tt02_med.jpg"
                        alt="ArmaLaser LaserGlow targets" media="(min-width:1200px)">

                    <source srcset="/assets/images/page/targets/tt02_med.jpg"
                        alt="ArmaLaser LaserGlow targets" media="(min-width:760px)">

                    <source srcset="/assets/images/page/targets/tt02_small.jpg"
                        alt="ArmaLaser LaserGlow targets" media="(min-width:200px)">

                    <img class="img-responsive center-block"
                        src="/assets/images/page/targets/tt02_thumb.jpg"
                        alt="ArmaLaser LaserGlow targets">
                </picture>

              <!-- <img class="img-responsive" src="/assets/images/page/targets/tt02.jpg"
                alt="ArmaLaser LaserGlow targets"> -->

            </a>
              <p style="font-size: 24px; font-style: italic;">
                <a style="color:#0000ff" href="/laser-accessories/accessory/{{ silhouetteID }}/laserglow-silhouette-target">
                  Learn more about the TT-02 18"x12" Silhouette Target
                </a>
              </p>
              <a class="btn btn-buy btn-lg" href="/laser-accessories/accessory/{{ silhouetteID }}/laserglow-silhouette-target">
                Buy
              </a>
        </div>
    </div>
</div>

<div class="container p2">
    <div class="row">
        <div class="col-md-10 col-center-block">
            <h2 class="text-center" style="font-size: 48px; font-style: italic;">
              ALMOST <span style="font-size:54px; font-weight:bold;">DEFIES BELIEF.</span>
              <br>
              UNTIL YOU <span class="">SEE IT FOR YOURSELF</span>.
            </h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-center-block">
            <h2 class="text-center" style="font-style:italic;">
              ONLY LASERGLOW TARGETS
              <br>
              SHOW A BRIGHT LASER <!DOCTYPE html>
              <br>
              UNDER INTENSE SUNLIGHT
            </h2>
        </div>
    </div>
</div>

<div class="container p3">
    <div class="row">
        <div class="col-md-6 col-center-block">
            <picture>
                <source srcset="/assets/images/page/targets/top-target_med.png"
                    alt="ArmaLaser LaserGlow targets" media="(min-width:1200px)">

                <source srcset="/assets/images/page/targets/top-target_med.png"
                    alt="ArmaLaser LaserGlow targets" media="(min-width:760px)">

                <source srcset="/assets/images/page/targets/top-target_small.png"
                    alt="ArmaLaser LaserGlow targets" media="(min-width:200px)">

                <img class="img-responsive center-block"
                    src="/assets/images/page/targets/top-target_thumb.png"
                    alt="ArmaLaser LaserGlow targets">
            </picture>

            <!-- <img class="img-responsive center-block" src="/assets/images/page/targets/top-target.png"
              alt="ArmaLaser LaserGlow targets"> -->
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-center-block">
            <h2 class="text-center" style="font-style:italic;">
              OR SHINE UP IN THE DARK
              <br>
              WITH A WEAPONS LIGHT
            </h2>
        </div>
    </div>
</div>

<div class="container p4">
    <div class="row">
        <div class="col-md-6 col-center-block">
            <picture>
                <source srcset="/assets/images/page/targets/btm-target_med.png"
                    alt="ArmaLaser LaserGlow targets" media="(min-width:1200px)">

                <source srcset="/assets/images/page/targets/btm-target_med.png"
                    alt="ArmaLaser LaserGlow targets" media="(min-width:760px)">

                <source srcset="/assets/images/page/targets/btm-target_small.png"
                    alt="ArmaLaser LaserGlow targets" media="(min-width:200px)">

                <img class="img-responsive center-block"
                    src="/assets/images/page/targets/btm-target_thumb.png"
                    alt="ArmaLaser LaserGlow targets">
            </picture>

            <!-- <img class="img-responsive center-block" src="/assets/images/page/targets/btm-target.png"
              alt="ArmaLaser LaserGlow targets"> -->
        </div>
    </div>
</div>
{% endblock %}

{% block bottomjs %}
{% endblock %}
