{% extends 'base-admin.html' %}

{% block title %}
  Customer account | ArmaLaser
{% endblock %}

{% block css %}
<style>
.glyphicon-remove {
    color: #ff0000;
}
.glyphicon-ok {
    color: #228b22;
}
.help-block {
    color: #ff0000 !important;
}
</style>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div id="dashboard-toggle" class="col-md-8" style="margin-top:-20px;margin-left:254px;">

            <h2>
                My account: {{ customer.billing_firstname }} {{ customer.billing_lastname }}
            </h2>
            <p style="margin-left:0px;">
                <span class="glyphicon glyphicon-menu-left"></span>
                <a onclick="window.history.go(-1)" style="cursor:pointer;">
                    Go  Back
                </a>
            </p>

            <hr>

            <form method="post" action="/admin/customers/main/update-account?id={{ customer.id }}"
                name="update-customeraccount-form" id="update-customeraccount-form">

                {% include 'Admin/my-account.component.html' %}

            </form>

            <!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->

            <div class="row p4">
                <div class="col-sm-12">
                    <h3>Change Password</h3>
                </div>

                <form method="post" action="/admin/customers/main/update-password?id={{ customer.id }}"
                    name="change-customer-password-form" id="change-customer-password-form">

                    {% include 'Admin/change-password.component.html' %}

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block bottomjs %}
<script>
$(document).ready(function(){

    $("#update-customeraccount-form").validate({
        rules: {
            billing_firstname: 'required',
            billing_lastname: 'required',
            billing_address: 'required',
            billing_city: 'required',
            billing_state: 'required',
            billing_zip: 'required',
            billing_phone: 'required',
            email: {
                required: true,
                email: true
            },
            shipping_firstname: 'required',
            shipping_lastname: 'required',
            shipping_address: 'required',
            shipping_city: 'required',
            shipping_state: 'required',
            shipping_zip: 'required',
            addresstype: 'required',
            email_optin: 'required',
            security1: 'required',
            security2: 'required',
            security3: 'required'
        },
        messages: {
            billing_firstname: '*First name is required',
            billing_lastname: '*Last name is required',
            billing_address: '*Address is required',
            billing_city: '*City is required',
            billing_state: '*State is required',
            billing_zip: '*Zip code is required',
            billing_phone: '*Phone is required',
            email: {
                required: '*Email is required',
                email: '*Valid email address is required'
            },
            shipping_firstname: '*First name is required',
            shipping_lastname: '*Last name is required',
            shipping_address: '*Address is required',
            shipping_city: '*City is required',
            shipping_state: '*State is required',
            shipping_zip: '*Zip code is required',
            addresstype: '*Address type is required',
            email_optin: '*Email marketing choice is required',
            security1: '*Answer is required',
            security2: '*Answer is required',
            security3: '*Answer is required'
        },
        highlight: function(element) {
            var id_attr = "#" + $( element ).attr("id") + "1";
            $(element).closest('.form-group has-feedback').removeClass('has-success').addClass('has-error');
            $(id_attr).removeClass('glyphicon-ok').addClass('glyphicon-remove');
        },
        unhighlight: function(element) {
            var id_attr = "#" + $( element ).attr("id") + "1";
            $(element).closest('.form-group has-feedback').removeClass('has-error').addClass('has-success');
            $(id_attr).removeClass('glyphicon-remove').addClass('glyphicon-ok');
        },
        errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function(error, element) {
                if(element.length) {
                    error.insertAfter(element);
                } else {
                error.insertAfter(element);
                }
            }
    });




    $("#change-customer-password-form").validate({
        rules: {
            new_passsword: {
                minlength: 6,
                maxlength: 10,
                required: true
            },
            confirm_password: {
                equalTo: "#new_password"
            }
        },
        messages: {
            new_password: {
                minlength: "*Please enter at least 6 characters",
                maxlength: "*Please enter up to 10 characters",
                required: "*Please enter a password",
            },
            confirm_password: {
                equalTo: "*Please enter the same password"
            }
        },
        highlight: function(element) {
            var id_attr = "#" + $( element ).attr("id") + "1";
            $(element).closest('.form-group has-feedback').removeClass('has-success').addClass('has-error');
            $(id_attr).removeClass('glyphicon-ok').addClass('glyphicon-remove');
        },
        unhighlight: function(element) {
            var id_attr = "#" + $( element ).attr("id") + "1";
            $(element).closest('.form-group has-feedback').removeClass('has-error').addClass('has-success');
            $(id_attr).removeClass('glyphicon-remove').addClass('glyphicon-ok');
        },
        errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function(error, element) {
                if(element.length) {
                    error.insertAfter(element);
                } else {
                error.insertAfter(element);
                }
            }
     });



});

</script>
{% endblock %}
