{% extends 'base-admin.html' %}

{% block title %}
  My Orders | ArmaLaser
{% endblock %}

{% block css %}
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div id="dashboard-toggle" class="col-md-10" style="margin-top:-20px;margin-left:254px;">

            <div class="col-md-12">
                {% if pagetitle %}
                    <h2 style="margin-left:-15px;">
                          {{ pagetitle }}
                        {% if orders|length > 0 %}
                            <span class="badge" style="margin: -18px 0px 0px 7px;">
                                {{ orders|length }}
                            </span>
                        {% endif %}
                    </h2>
                {% endif %}
            </div>

            {% if customer %}
                <div class="col-sm-12">
                    <h3>Account information</h3>
                    <table class="table table-bordered bg-fff">
                        <thead>
                            <tr>
                                <th>Customer ID</th>
                                <th>First</th>
                                <th>Last</th>
                                <th>Address</th>
                                {% if customer.billing_address2 %}
                                  <th>Address2</th>
                                {% endif %}
                                <th>City</th>
                                <th>State</th>
                                <th>Zip</th>
                                <th>Telephone</th>
                                <th>Email</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>{{ customer.id }}</td>
                                {% if session.userType == 'customer' %}
                                    <td>{{ customer.billing_firstname }}</td>
                                    <td>{{ customer.billing_lastname }}</td>
                                    <td>{{ customer.billing_address }}</td>
                                    {% if customerbilling_address2 %}
                                        <td>{{ customer.billing_address2 }}</td>
                                    {% endif %}
                                    <td>{{ customer.billing_city }}</td>
                                    <td>{{ customer.billing_state }}</td>
                                    <td>{{ customer.billing_zip }}</td>
                                    <td>{{ customer.billing_phone }}</td>
                                {% else %}
                                    <td>{{ customer.first_name }}</td>
                                    <td>{{ customer.last_name }}</td>
                                    <td>{{ customer.address }}</td>
                                    <td>{{ customer.city }}</td>
                                    <td>{{ customer.state }}</td>
                                    <td>{{ customer.zip }}</td>
                                    <td>{{ customer.telephone }}</td>
                                {% endif %}
                                <td>{{ customer.email }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% if orders %}
                <div class="col-sm-12">
                    <h3>Orders</h3>
                    <table class="table table-bordered table-striped bg-fff">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Status</th>
                                <th>Date & time</th>
                                <th>PayPal ID</th>
                                <th>First</th>
                                <th>Last</th>
                                <th>Email</th>
                                <th>Order amt</th>
                                <th>Shipped date</th>
                                <th>Ship method</th>
                                <th>Tracking code</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a style="color:#0000ff; text-decoration:underline;" title="See order details"
                                            {% if session.userType == 'customer' %}
                                                href="/admin/customers/main/get-my-order?id={{ order.id }}&buyerid={{ order.customerid }}">
                                            {% elseif session.userType == 'dealer' %}
                                                href="/admin/dealers/main/get-my-order?id={{ order.id }}&buyerid={{ order.dealerid }}">
                                            {% elseif session.userType == 'partner' %}
                                                href="/admin/partners/main/get-my-order?id={{ order.id }}&buyerid={{ order.partnerid }}">
                                            {% endif %}
                                            {{ order.id }}
                                        </a>
                                    </td>
                                    <td {% if order.order_status == 'pending' %}class="pendingGreen bold"{% endif %}>{{ order.order_status }}</td>
                                    <td>{{ order.odate }}</td>
                                    <td>{{ order.pnref }}</td>
                                    <td>{{ order.oshipfirstname }}</td>
                                    <td>{{ order.oshiplastname }}</td>
                                    <td>{{ order.oshipemail }}</td>
                                    <td>{{ order.orderamount }}</td>
                                    <td>{% if order.order_status == 'pending' %}<span class="pendingGreen bold">pending</span>{% else %}{{ order.oshippeddate }}{% endif %}</td>
                                    <td>{{ order.oshipmethod }}</td>
                                    <td>{% if order.order_status == 'pending' %}<span class="pendingGreen bold">pending</span>{% else %}{{ order.trackingcode }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <p style="margin-top: -3px;" class="pull-left"><a href="#top" title="Go to top of page"><i style="margin-top: -15px; color:#ccc;" class="fa fa-arrow-circle-o-up fa-3x" aria-hidden="true"></i></a></p>
                    <p style="margin-top: -3px;" class="pull-right"><a href="#top" title="Go to top of page"><i style="margin-top: -15px; color:#ccc;" class="fa fa-arrow-circle-o-up fa-3x" aria-hidden="true"></i></a></p>
                </div>

            <!-- no data to display -->
            {% else %}
                <div class="col-md-10" style="margin-left:-15px;">
                    <div class="alert alert-warning" style="margin-top:30px;">
                        <h4 style="margin-bottom:0px;">
                          No orders to display
                        </h4>
                    </div>
                </div>
            {% endif %}

      </div><!--  // col-md-12  -->
    </div><!--  // .row  -->
</div><!-- // .container-fluid  -->
{% endblock %}


{% block bottomjs %}
<script>
$(document).ready(function(){


    $("#thisID").click(function(){
        var checked = 1;
        console.log(checked);
        if($("#thisID").prop("checked")){
          $("#lasers_last_name").attr("placeholder", "Enter laser ID");
        } else {
          $("#lasers_last_name").attr("placeholder", "Enter agent last name");
        }
    });


});
</script>

{% endblock %}
