<div class="row">
    <div class="col-md-6">
        <div class="col-sm-6">
            <div class="form-group has-feedback">
                <label>New password</label>
                <input type="text" class="form-control" name="new_password"
                    id="new_password" placeholder="Minimum 6 characters" required>
                <span class="glyphicon form-control-feedback" id="new_password1"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group has-feedback">
                <label>Confirm password</label>
                <input type="text" class="form-control" name="confirm_password"
                    id="confirm_password" placeholder="Minimum 6 characters" required>
                <span class="glyphicon form-control-feedback" id="confirm_password1"></span>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="form-group">
        <button id="update-dealer-credentials-btn" type="submit"
            class="btn btn-primary">
            Submit
        </button>
        <br><br>
        <help>
            *You will be automatically logged out. You can log in again
            with your new login credentials.
            <br>
            Please note that orders placed with any previous email
            address will not be changed.
        </help>
    </div>
</div>
