{% extends 'base.html' %}

{% block title %}
  Terms of Use | ArmaLaser
{% endblock %}

{% block metadescription %}
Learn about ArmaLaser's terms of use
{% endblock %}

{% block css %}
{% endblock %}

{% block outsidecontainer %}
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8" style="margin-bottom: 40px;">
          <h1 class="pagetitle">{{ pagetitle }}</h1

            <p><strong>Welcome to the ArmaLaser Inc. website.</strong>   The website is provided as a service to our customers. Please review the following terms and conditions of use, which govern your use of the website. Your use of the website constitutes your agreement to follow and be bound by the “Agreement”. We reserve the right to update or modify this Agreement at any time without prior notice.</p>
            <p><strong>Website Transactions</strong></p>
            <p>We reserve the right to refuse any order you place with us and may, in our sole discretion, limit or cancel quantities purchased per person, per household or per order. This may include orders placed by or under the same customer account, the same credit card, and/or orders that use the same billing and/or shipping address. In the event we make a change to or cancel an order, we will attempt to notify you by contacting the email and/or billing address/phone number provided at the time the order was made. We reserve the right to limit or prohibit orders that, in our sole judgment, appear to be placed by unauthorized dealers, resellers or distributors or end users.</p>
            <p><strong>Right to Change Sites</strong></p>
            <p>We reserve the right, at any time in our sole discretion, to: modify, suspend or discontinue the website or any service, content, feature or product offered through the website. You agree that we shall not be liable to you or any third party for any modification, suspension or discontinuance of the website or any service, content, feature or product offered through the website.</p>
            <p><strong>Site Contents</strong></p>
            <p>Unless otherwise noted, the website and all materials on the website, including text, images, photographs, designs, icons, video clips and other materials, and the copyrights, trademarks, trade dress and/or other intellectual property in such materials are owned, controlled or licensed by ArmaLaser Inc.</p>
            <p>The website and the contents are intended solely for personal, non-commercial use. You may download or copy the contents and other downloadable materials displayed on the website for your personal use only. You may not reproduce (except as noted above), publish, transmit, distribute, display, modify, create derivative works from, sell or exploit in any way the contents of the website.</p>
            <p><strong>Links to Other Websites</strong></p>
            <p>The website may contain links to other websites that are not under the control of ArmaLaser Inc.  ArmaLaser has no responsibility for the linked websites nor does linking constitute an endorsement of any linked website. Links are provided solely for the convenience and information of the website users.</p>
            <p><strong>ITAR Disclaimer</strong></p>
            <p>ArmaLaser Inc. products are controlled by The U.S. Department of Commerce under Export Administration Regulations (EAR) and /or the U.S. Department of State, Directorate of Defense Trade Controls, Bureau of Political-Military Affairs, in accordance with 22 U.S.C. 2778-2780 of the Arms Export Control Act (AECA) and the International Traffic in Arms Regulations (ITAR) (22 CFR Parts 120-130) and may not be exported legally without proper licensing.</p>
            <p><strong>No Export Policy</strong></p>
            <p>Export of ArmaLaser Inc. products is not permitted without consent. Export of ArmaLaser Inc. products is regulated by The U.S. Department of Commerce under Export Administration Regulations (EAR).</p>
        </div><!-- // .col-md-8 -->

    </div>
</div>
{% endblock %}

{% block bottomjs %}

{% endblock %}
