{% extends 'base.html' %}

{% block title %}
Holsters for ArmaLaser-equipped {{ brand_name }}® pistols
{% endblock %}

{% block metadescription %}
Purchase Laser-Fit™ holsters custom-designed to fit ArmaLaser-equipped {{ brand_name }}® pistols for concealed carry.
{% endblock %}

{% block css %}
{% endblock %}

{% block outsidecontainer %}
{% endblock %}


{% block content %}

 <div class="container">
     <div class="row">
         <div class="col-md-12">

            {% include 'ProductsByBrand/holster-section.html' %}


         </div>
     </div>
 </div>

{% endblock %}

{% block bottomjs %}
{% endblock %}
