{% extends 'base.html' %}

{% block title %}
  Stingray Classic Laser | ArmaLaser
{% endblock %}

{% block metadescription %}
ArmaLaser's Stingray Classic laser is the world's slimmest rail-mounted laser. Equipped with an ultra-bright 635nm red laser beam, it's built to last with high-impact DuPont Zytel FRN.
{% endblock %}

{% block css %}
{% endblock %}

{% block outsidecontainer %}
{% endblock %}


{% block content %}
{% include 'navbar-subheading.html' %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

<div class="bg-fff">
    <div class="container">
        <div class="row">

            <div class="col-md-12" id="stingray-heading">
                <div class="text-center">
                    <h1>Stingray<span style="color:#838383;">Classic</span></h1>

                    <h2>
                        World&#39;s slimmest rail-mounted laser
                    </h2>
                </div>

                <div style="margin: 0 auto; max-width:270px; margin-bottom: 20px;">
                   <a class="btn btn-primary btn-block" href="http://armalaser.3dcartstores.com/SR1_p_14.html"><span style="font-size:130%;">Buy Now</span></a>
                   <p style="color:#ff0000;" class="text-center">
                       *Firearm MUST have a 4 inch barrel or longer
                   </p>
                </div>

                <div id="stingray-one">
                    <picture>
                        <source srcset="/assets/images/page/stingray/2016-11-01-stingray-activation-with-beam.png"
                            alt="ArmaLaser Stingray Classic laser" media="(min-width:1200px)">

                        <source srcset="/assets/images/page/stingray/2016-11-01-stingray-activation-with-beam_med.png"
                            alt="ArmaLaser Stingray Classic laser" media="(min-width:760px)">

                        <source srcset="/assets/images/page/stingray/2016-11-01-stingray-activation-with-beam_small.png"
                            alt="ArmaLaser Stingray Classic laser" media="(min-width:200px)">

                        <img class="img-responsive center-block"
                            src="/assets/images/page/stingray/2016-11-01-stingray-activation-with-beam_thumb.png"
                            alt="ArmaLaser Stingray Classic laser">
                    </picture>
                    <!-- <img class="img-responsive center-block"
                      src="/assets/images/page/stingray/2016-11-01-stingray-activation-with-beam.png"
                      alt="ArmaLaser Stingray Classic laser"> -->
                </div>

                <div id="stingray-one-choose">
                    <p>
                        <a href="/#top">Choose by pistol brand</a>
                    </p>
                </div>

            </div><!-- // .col-md-12  -->
            <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->



            <div class="col-md-12">
                <div class="text-center p3">
                    <h2 class="text50 color838383">
                      DuPont Zytel FRN
                    </h2>
                    <h3 class="text-uppercase italic" style="color:#a9a9a9;""
                      margin-top:-4px;">
                      same material as polymer pistol frame
                    </h3>
                </div>

                <div class="text-center p4">
                    <p class="text-uppercase blue bold text-box-300">
                        high-impact dupont zytel frn makes every armalaser
                        the toughest laser money can buy
                    </p>
                    <img class="img-responsive center-block"
                      src="/assets/images/page/stingray/polymer_414x335.jpg"
                      alt="armalaser uses DuPont Zytel FRN">
                </div>

            </div><!-- // .col-md-12  -->
            <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->



            <div class="col-md-12 p2">

                <div class="text-center p3">
                    <h2 class="text50 color838383">Ultra-Bright 635nm</h2>
                    <h4 class="text-uppercase italic colora9a9a9" style="margin-top:-4px;">
                      Convenient battery door. simple laser adjustment.
                    </h4>
                </div>

                <picture>
                    <source srcset="/assets/images/page/stingray/STINGRAY.gif"
                        alt="ArmaLaser Stingray Classic laser" media="(min-width:1200px)">

                    <source srcset="/assets/images/page/stingray/STINGRAY_med.gif"
                        alt="ArmaLaser Stingray Classic laser" media="(min-width:760px)">

                    <source srcset="/assets/images/page/stingray/STINGRAY_small.gif"
                        alt="ArmaLaser Stingray Classic laser" media="(min-width:200px)">

                    <img class="img-responsive center-block"
                        src="/assets/images/page/stingray/STINGRAY_thumb.gif"
                        alt="ArmaLaser Stingray Classic laser">
                </picture>

                <!-- <img class="img-responsive"
                src="/assets/images/page/stingray/STINGRAY.gif"
                  alt="armalaser stingray classic laser"> -->
            </div><!-- // .col-md-12  -->
            <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->



            <div class="col-md-12">
                <h2 class="text-center gto-headline">
                    Easy to live with.
                </h2>
                <p class="text-uppercase text-center bold"
                    id="stingray-convenient-battery-door">
                    convenient battery door. simple laser adjustment.
                </p>
            </div><!-- // .col-md-12  -->
            <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->



            <div class="col-md-7">
                <picture>
                    <source srcset="/assets/images/page/stingray/2016-11-01-stingray-battery-change2.png"
                        alt="stingray battery door" media="(min-width:1200px)">

                    <source srcset="/assets/images/page/stingray/2016-11-01-stingray-battery-change2_small.png"
                        alt="stingray battery door" media="(min-width:760px)">

                    <source srcset="/assets/images/page/stingray/2016-11-01-stingray-battery-change2_small.png"
                        alt="stingray battery door" media="(min-width:200px)">

                    <img class="img-responsive center-block"
                        src="/assets/images/page/stingray/2016-11-01-stingray-battery-change2_thumb.png"
                        alt="stingray battery door">
                </picture>

                <!-- <img class="img-responsive center-block"
                  src="/assets/images/page/stingray/2016-11-01-stingray-battery-change2.png"
                  alt="stingray battery door"> -->

                <p class="text-center text-uppercase" style="padding-top:10px; color:#787878; color:#0000ff;">
                    Battery door means never needing
                    <br>
                    to re-adjust laser after battery changes.
                </p>
            </div><!-- // .col-md-5  -->

            <div class="col-md-5 p5">
                <picture>
                    <source srcset="/assets/images/page/stingray/2016-11-01-SR1ADJUST.png"
                        alt="stingray wind and elevation adjustment setting" media="(min-width:1200px)">

                    <source srcset="/assets/images/page/stingray/2016-11-01-SR1ADJUST_small.png"
                        alt="stingray wind and elevation adjustment setting" media="(min-width:760px)">

                    <source srcset="/assets/images/page/stingray/2016-11-01-SR1ADJUST_small.png"
                        alt="stingray wind and elevation adjustment setting" media="(min-width:200px)">

                    <img class="img-responsive center-block"
                        src="/assets/images/page/stingray/2016-11-01-SR1ADJUST_thumb.png"
                        alt="stingray wind and elevation adjustment setting">
                </picture>

                <!-- <img class="img-responsive center-block"
                  src="/assets/images/page/stingray/2016-11-01-SR1ADJUST.png"
                  alt="stingray wind and elevation adjustment setting"> -->

                <p class="text-center text-uppercase" style="padding-top:15px; color:#0000ff;">
                    Easy control over windage and elevation
                </p>
            </div><!-- // .col-md-7  -->
            <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->



            <div class="col-md-12 p6">
                <h2 class="text-center gto-headline">
                    AR Compatible.
                </h2>
                <h4 class="text-uppercase colora9a9a9 text-center p1"
                    style="margin-top:-4px;">
                    fits on just about any picatinny rail.
                </h4>

                <picture>
                    <source srcset="/assets/images/page/stingray/ARSR1.gif"
                        alt="armalaser stingray classic laser fits AR" media="(min-width:1200px)">

                    <source srcset="/assets/images/page/stingray/ARSR1_med.gif"
                        alt="armalaser stingray classic laser fits AR" media="(min-width:760px)">

                    <source srcset="/assets/images/page/stingray/ARSR1_small.gif"
                        alt="armalaser stingray classic laser fits AR" media="(min-width:200px)">

                    <img class="img-responsive center-block"
                        src="/assets/images/page/stingray/ARSR1_thumb.gif"
                        alt="armalaser stingray classic laser fits AR">
                </picture>

                <!-- <img class="img-responsive center-block"
                    src="/assets/images/page/stingray/ARSR1.gif"
                    alt="armalaser stingray classic laser fits AR"> -->

            </div><!-- // .col-md-12  -->
            <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->



            <div class="col-md-12">
                <h2 class="p1 text-center" style="font-size: 48px;">
                    Warranty and Unedited, Unfiltered, REAL Reviews
                </h2>
            </div>


            <div class="col-md-7" style="font-size: 16px;">
                <img class="img-responsive center-block"  style="width:50%;"
                  src="/assets/images/page/stingray/k_5_yr_warranty_268x280.png"
                  alt="ArmaLaser 5 year warranty">
                <p class="text-center">
                  Longest laser warranty.
                </p>
                <p class="text-center">
                  <a href="/info/laser-warranty">
                    Read the ArmaCare 5-year Warranty.
                  </a>
                </p>
            </div>

            <div class="col-md-5" style="font-size: 16px;">
                <img class="img-responsive center-block" style="width:80%;"
                  src="/assets/images/page/stingray/l_review_stars_no_hand_359x308.png"
                  alt="ArmaLaser reviews">
                <p class="text-center" style="margin-top:28px;">
                  Unedited, unfiltered REAL reviews.
                </p>
                <p class="text-center">
                    <a class="newWindow" href="{{ stingray_model.review_url }}" rel="0">
                      Read {{ model.review_count }} Amazon reviews
                    </a>
                </p>
            </div>

            <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->


        </div><!-- // .row  -->
    </div><!-- // .container  -->
</div><!--  // .bg-fff  -->
{% endblock %}

{% block bottomjs %}
<script>
$(document).ready(function(){

  // resource:  http://www.codebelt.com/jquery/open-new-browser-window-with-jquery-custom-size/
  //https://www.codeofaninja.com/2011/04/how-to-center-screen-pop-up-window-with.html
  $(".newWindow").click(function(event){
      event.preventDefault();

      var url = $(this).attr("href");
      var windowName = "popUp";
      var windowWidth = 700;
      var windowHeight = 700;
      var windowLeft = parseInt((screen.availWidth/2) - (windowWidth/2));
      var windowTop = parseInt((screen.availHeight/2) - (windowHeight/2));
      var windowSize = "menubar=no,resizable=yes,width=700,height=700,scrollbars=yes,left=" + windowLeft + ",top=" + windowTop + ",screenX=" + windowLeft + ",screenY=" + windowTop;

      window.open(url, windowName, windowSize);
  });

});
</script>
{% endblock %}
