{% extends 'base-admin.html' %}

{% block title %}
  Holsters | ArmaLaser
{% endblock %}

{% block css %}
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div id="dashboard-toggle" class="col-md-10" style="margin-top:-20px;margin-left:254px;">

          <div class="col-md-4">
              {% if pagetitle %}
                <h2 style="margin-left:-15px;">
                  {{ pagetitle }}
                  {% if holsters|length > 0 %}
                    <span class="badge" style="margin: -18px 0px 0px 7px;">
                        {{ holsters|length }}
                    </span>
                  {% endif %}
                </h2>
                {% if searched %}
                    <p><< <a href="/admin/holsters/dealer-get-trseries"> Back to all TR Series</a></p>
                {% endif %}
              {% endif %}
          </div>
          <div  class="col-md-5 col-sm-7 col-xs-12" style="margin:15px 0px 15px  -15px;">
            <form method="get"
                action="/admin/holsters/dealer-search-by-model">
              <div class="input-group">
                <input style="width:175px;"  type="text" class="form-control" name="laser_model"
                    id="laser_model" placeholder="Enter laser model">
                <input type="hidden" name="laser_series" value="{{ holsterseries }}">
                <span style="display:inline-block;margin-left:0px;"  class="input-group-btn">
                    <button class="btn btn-secondary btn-default" type="submit">Go</button>
                </span>
              </div>
            </form>
            {% if searched %}
              <div>
                <h3>Search results: "{{ searched }}"</h3>
              </div>
            {% endif %}
          </div>

          {% if holsters %}
            <table class="table table-bordered table-striped bg-fff display-broker-agents">
              <thead>
                  <tr>
                      <th class="text-center">Add to Cart</th>
                      <th>Image</th>
                      <th>Name</th>
                      <th>Model</th>
                      <th>Waist</th>
                      <th>Hand</th>
                      <th>Laser Series</th>
                      <th>Laser Model</th>
                      <th>Pistol match</th>
                      <th>MAP</th>
                      <th>Price</th>
                      <th>% off MAP</th>
                      <th>UPC</th>
                  </tr>
              </thead>

              <tbody>
                  {% for holster in holsters %}
                  <tr>
                      <td class="text-center" style="width:5%;">
                          <a id="add-to-dealer-cart-{{ holster.holster_id }}" class='btn btn-success btn-sm'
                              href="/admin/dealer/add-to-cart/{{ holster.mvc_model }}/{{ holster.holster_id }}/{{ holster.pistolMfr }}/{{ holster.holster_model }}"
                              {% if holster.holster_id in session.ids %} disabled {% endif %}>

                              {% if holster.holster_id in session.ids %} In Cart {% else %} Add{% endif %}
                          </a>
                      </td>
                      <td class="text-center" style="width:5%;">
                          <a href="/{{ holster.pistolMfr }}/{{ holster.slug }}/tr-series/{{ holster.id }}/{{ holster.model }}">
                              <img src="/assets/images/page/holsters/{{ holster.thumb }}"
                                  height="40px" alt="Need image">
                          </a>
                      </td>
                      <td style="width:14%;">
                          <a title="See holster details"
                                href="/products/holster/{{ holster.holster_id}}/{{ holster.trseries_model }}">
                                {{ holster.name }}
                          </a>
                      </td>
                      <td style="width:7%;">{{ holster.holster_model }}</td>
                      <td style="width:5%;">{{ holster.waist|upper }}</td>
                      <td style="width:5%;">{{ holster.hand|upper }}</td>
                      <td style="width:7%;"><a title="Learn more about TR Series" href="/lasers/tr-series">TR SERIES</a></td>
                      <td style="width:7%;">{{ holster.trseries_model|upper }} / {{ holster.trseries_model|upper }}G</td>
                      <td style="width:15%;"><a title="See all products for {{ holster.pistolMfr|upper }}" href="/{{ holster.pistolMfr }}">{{ holster.pistolMfr|upper }}</a>:<br>{{ holster. pistol_models }}</td>
                      <td style="width:5%;">{{ holster.price }}</td>
                      <td style="width:5%;">{{ holster.price_dealer }}</td>
                      <td style="width:5%;">{{ (((holster.price - holster.price_dealer)/holster.price) * 100)|number_format(1) }}%</td>
                      <td style="width:7%;">{{ holster.upc }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>

            <p style="margin-top: -3px;" class="pull-left"><a href="#top" title="Go to top of page"><i style="margin-top: -15px; color:#ccc;" class="fa fa-arrow-circle-o-up fa-3x" aria-hidden="true"></i></a></p>
            <p style="margin-top: -3px;" class="pull-right"><a href="#top" title="Go to top of page"><i style="margin-top: -15px; color:#ccc;" class="fa fa-arrow-circle-o-up fa-3x" aria-hidden="true"></i></a></p>


            {% else %}
            <div class="col-md-8" style="margin-left:-15px;">
                <div class="alert alert-warning" style="margin-top:30px;">
                    <h4 style="margin-bottom:0px;">
                      No holsters to display
                    </h4>
                </div>
            </div>
            {% endif %}


      </div><!--  // col-md-12  -->
    </div><!--  // .row  -->
</div><!-- // .container-fluid  -->
{% endblock %}


{% block bottomjs %}
<script>
$(document).ready(function(){


});
</script>

{% endblock %}
