{% extends 'base.html' %}

{% block title %}
  TR Series Lasers | ArmaLaser
{% endblock %}

{% block metadescription %}
ArmaLaser's TR Series lasers when gripped immediately throw out a powerful laser beam. Over 30 models available in red or green for the most popular pistols.
{% endblock %}

{% block css %}
{% endblock %}

{% block outsidecontainer %}
{% endblock %}


{% block content %}
{% include 'navbar-subheading.html' %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

<div class="bg-f1f1f1">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <p class="pull-right text-right" style="font-size:11px;">
                    U.S. Patent 9,328,994<br>
                    Additional Patents<br>
                    Pending
                </p>
            </div>

            <div class="col-md-12">

              <picture>
                  <source srcset="/assets/images/page/trSeries/a_tr_series_page_1151x509.png"
                    alt="armalaser tr-series grip touch activation"
                    media="(min-width:1200px)">

                  <source srcset="/assets/images/page/trSeries/a_tr_series_page_med.png"
                    alt="armalaser tr-series grip touch activation"
                    media="(min-width:760px)">

                  <source srcset="/assets/images/page/trSeries/a_tr_series_page_small.png"
                    alt="armalaser tr-series grip touch activation"
                    media="(min-width:200px)">

                  <img style="margin-bottom: 30px;" class="img-responsive"
                    src="/assets/images/page/trSeries/a_tr_series_page_thumb.png"
                    alt="armalaser tr-series grip touch activation">
              </picture>

                <!-- <img style="margin-bottom: 30px;" class="img-responsive"
                src="/assets/images/page/trSeries/a_tr_series_page_1151x509.png"
                alt="armalaser tr-series grip touch activation">-->
            </div>


            <div class="col-md-12 col-center-block" style="color:#838383;">

                <h2 style="font-size: 48px;">
                  Yes, the laser activates just by gripping your pistol.
                </h2>
                <p style="font-size: 16px;">
                    IMMEDIATE. Without having to think about it, the TR will
                    throw out the most powerful laser beam the law will allow
                    as soon as you grasp your pistol, accurately and immediately.
                    Using human touch, True Touch Technology, you&#39;ll have
                    a normal, natural feel without an awkward push button
                    on the grip.
                </p>

            </div><!-- // .col-md-6+6 #tr-series-text-box  -->

        </div><!-- // .row  -->
    </div><!-- // .container  -->
</div><!--  // .bg  -->


<div class="bg-fff">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-4">
                <div id="tr-series-sensor-text-block">
                    <h2 style="font-size: 42px; line-height: 52px;">
                      Touch Sensor is located in the
                      <span class="amaranth-font"
                        style="font-size:60px;font-weight: bold;font-style: italic;">
                        perfect spot
                      </span>
                    </h2>

                    <!--<div id="find-your-model-02">
                        <p><a href="index.php#top">Find your model &nbsp; <span style="font-size: 110%;"> >></span></a></p>
                    </div>-->

                    <p id="tr-series-sensor-caption">
                        Right at the point where the trigger guard and pistol
                        grip meet. Where your middle finger naturally rests.
                    </p>
                </div>
            </div><!-- // .col-md-4  -->

            <div class="col-md-8 col-sm-8">
                <picture>
                    <source srcset="/assets/images/page/trSeries/b_tr_series_sensor_792x434.png"
                      alt="ArmaLaser tr-series sensor" media="(min-width:1200px)">

                    <source srcset="/assets/images/page/trSeries/b_tr_series_sensor_med.png"
                      alt="ArmaLaser tr-series sensor" media="(min-width:760px)">

                    <source srcset="/assets/images/page/trSeries/b_tr_series_sensor_small.png"
                      alt="ArmaLaser tr-series sensor" media="(min-width:200px)">

                    <img style="margin-bottom: 30px;" class="img-responsive"
                      src="/assets/images/page/trSeries/b_tr_series_sensor_thumb.png"
                      alt="ArmaLaser tr-series sensor">
                </picture>

                <!-- <img class="img-responsive"
                  src="/assets/images/page/trSeries/b_tr_series_sensor_792x434.png"
                  alt="ArmaLaser tr-series sensor"> -->
            </div><!-- // .col-md-8  -->

            <!-- - - - - - - - - - - - - - - - -  -->

            <div class="col-md-3 col-sm-3 p1">

                <picture>
                    <source srcset="/assets/images/page/trSeries/c_tr_series_push_switch_small.png"
                      alt="ArmaLaser touch sensor is superior" media="(min-width:1200px)">

                    <source srcset="/assets/images/page/trSeries/c_tr_series_push_switch_small.png"
                      alt="ArmaLaser touch sensor is superior" media="(min-width:767px)">

                    <!-- <source srcset="/assets/images/page/trSeries/c_tr_series_push_switch_thumb.png"
                      alt="ArmaLaser touch sensor is superior" media="(min-width:200px)"> -->

                    <img class="img-responsive center-block"
                      src="/assets/images/page/trSeries/c_tr_series_push_switch_thumb.png"
                      alt="ArmaLaser touch sensor is superior">
                </picture>

                <p style="margin:0; margin-top:2px; font-size:14px;"
                  class="text-center text-uppercase">
                  All competing lasers use push-buttons
                </p>


                <!-- <img class="img-responsive"
                  src="/assets/images/page/trSeries/c_tr_series_push_switch_575x436.png"
                  alt="armalaser touch sensor is superior"> -->

            </div><!-- // .col-md-3  -->

            <div class="col-md-9 col-sm-9">
                <p id="tr-series-button-caption">
                    All <span class="ethno">TR</span> models turn on by human
                    touch, not by a mechanical switch or button. As soon as you
                    grasp your pistol, the True-Touch Activation
                    sensor will turn the laser on and keep it on as long as
                    you&#39;re grasping the grip.
                    <br><br>
                    It is seamless and immediate and requires no button to be
                    pushed or secondary operation.
                    <br><br>
                    Move your middle finger forward and the laser will shut off.
                </p>
            </div><!-- // .col-md-9  -->

        </div><!-- // .row  -->
    </div><!-- // .container  -->
</div><!--  // .bg  -->




<div class="bg-f1f1f1">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h2 id="tr-series-green-and-red-title" class="text-center"
                  style="color: #838383; margin:0; margin-bottom: 30px;font-size: 48px;">
                  Now Available in both Green and Red
                </h2>
            </div><!-- // .col-md-12  -->

            <div class="col-md-12">
                <div id="tr-series-green-red-text-block-top">
                    <p>
                        ArmaLaser only uses the 635nm wavelength in our red
                        lasers. 635nm is up to 5 times brighter than standard
                        650nm lasers.
                    </p>
                </div>

                <div id="tr-series-green-and-red-image-block">
                  <picture>
                      <source srcset="/assets/images/page/trSeries/d_tr_series_tr10_red_green_pair_no_text_1181x782.png"
                        alt="armalaser tr series lasers in red and green" media="(min-width:1200px)">

                      <source srcset="/assets/images/page/trSeries/d_tr_series_tr10_red_green_pair_no_text_med.png"
                        alt="armalaser tr series lasers in red and green" media="(min-width:760px)">

                      <source srcset="/assets/images/page/trSeries/d_tr_series_tr10_red_green_pair_no_text_small.png"
                        alt="armalaser tr series lasers in red and green" media="(min-width:200px)">

                      <img style="margin-bottom: 30px;" class="img-responsive"
                        src="/assets/images/page/trSeries/d_tr_series_tr10_red_green_pair_no_text_thumb.png"
                        alt="armalaser tr series lasers in red and green">
                  </picture>


                    <!-- <img class="img-responsive"
                    src="/assets/images/page/trSeries/d_tr_series_tr10_red_green_pair_no_text_1181x782.png"
                    alt="armalaser tr series lasers in red and green"> -->
                </div>

                <div id="tr-series-green-red-text-block-bottom">
                    <p>
                        For the highest visibility, green lasers can't be
                        beaten. ArmaLaser green lasers have the highest battery
                        life of any concealed carry laser.
                    </p>
                </div>

            </div><!-- // .col-md-12  -->


        </div><!-- // .row  -->
    </div><!-- // .container  -->
</div><!--  // .bg  -->



<div class="bg-fff">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-center-block">
                <h2 id="tr-series-custom-fit-title" class="text-center"
                  style="color: #838383;margin-bottom: 50px;font-size: 48px;">
                  Custom-Fit for Your Pistol Model
                </h2>
            </div>

            <div class="col-md-7 col-center-block">

                <div id="tr-series-custom-fit-image-block">
                    <picture>
                        <source srcset="/assets/images/page/trSeries/e_tr_series_fit_med.png"
                          alt="armalaser tr series lasers custom fit your pistol" media="(min-width:1200px)">

                        <source srcset="/assets/images/page/trSeries/e_tr_series_fit_med.png"
                          alt="armalaser tr series lasers custom fit your pistol" media="(min-width:760px)">

                        <source srcset="/assets/images/page/trSeries/e_tr_series_fit_small.png"
                          alt="armalaser tr series lasers custom fit your pistol" media="(min-width:200px)">

                        <img style="margin-left: -2px; margin-bottom: -3px;" class="img-responsive"
                          src="/assets/images/page/trSeries/e_tr_series_fit_thumb.png"
                          alt="armalaser tr series lasers custom fit your pistol">
                    </picture>


                    <!-- <img style="margin-left: -2px; margin-bottom: -3px;"
                    class="img-responsive"
                    src="/assets/images/page/trSeries/e_tr_series_fit_1187x706.png"
                    alt="armalaser tr series lasers custom fit your pistol"> -->
                </div>

                <p id="tr-series-custom-fit-text-block">
                    Rock Solid Mounting. Made from same Dupont Zytel as pistol.
                </p>
            </div>


            <div class="col-md-12">
                    <img class="img-responsive center-block"
                      src="/assets/images/page/trSeries/f_tr_series_zytel_344x280.png"
                      alt="armalaser tr series made with high impact dupont zytel">
                <p class="text-center" style="font-size: 18px;color: #838383;">
                    High-impact DuPont Zytel FRN makes <br>every ArmaLaser the
                    toughest laser money can buy.
                </p>

            </div>

        </div><!-- // .row  -->
    </div><!-- // .container  -->
</div><!--  // .bg  -->




<div class="bg-f1f1f1" id="tr-series-adjustments-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-center-block">
                <h2 class="text-center p1" style="font-size: 48px;">
                    Easy to Live With
                </h2>

                <picture>
                    <source srcset="/assets/images/page/trSeries/trseries_closeup.jpg"
                      alt="ArmaLaser TR Series close-up view" media="(min-width:1200px)">

                    <source srcset="/assets/images/page/trSeries/trseries_closeup_med.jpg"
                      alt="ArmaLaser TR Series close-up view" media="(min-width:667px)">

                    <source srcset="/assets/images/page/trSeries/trseries_closeup_small.jpg"
                      alt="ArmaLaser TR Series close-up view" media="(min-width:200px)">

                    <img class="img-responsive center-block"
                      src="/assets/images/page/trSeries/trseries_closeup_thumb.jpg"
                      alt="ArmaLaser TR Series close-up view">
                </picture>

                <!-- <img class="img-responsive"
                 src="/assets/images/page/trSeries/trseries_closeup.jpg"
                 alt="ArmaLaser TR Series close-up view"> -->

          </div><!-- // .col-md-12  -->

            <!-- <div class="col-md-6 col-sm-6">
                <p style="padding: 0px 5px;">A.</p>
                <div class="easy-to-live-with-img-box">
                    <img class="img-responsive"
                     src="/assets/images/page/trSeries/g_laser_adjust_685x379.png"
                     alt="ArmaLaser wind adjustment">
                </div>
            </div><! // .col-md-6


            <div class="col-md-6 col-sm-6">
                <p style="padding: 0px 5px;"> B.</p>
                    <div class="easy-to-live-with-img-box" style="margin-bottom: 20px;">
                        <img class="img-responsive"
                        src="/assets/images/page/trSeries/h_battery_door_434x338.png"
                        alt="Armalaser battery door">
                    </div>
                </div>< // .col-md-6


            <div class="col-md-6 col-sm-6">
                <p style="padding: 0px 5px;">C.</p>
                <div class="easy-to-live-with-img-box">
                    <img class="img-responsive"
                    src="/assets/images/page/trSeries/i_sliding_switch_634x375.png"
                    alt="ArmaLaser master kill switch forward">
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <p style="padding: 0px 5px;">&nbsp;</p>
                <div class="easy-to-live-with-text-box" style="padding: 20px 20px 20px 0px;">
                    <ol style="list-style: upper-alpha; font-size: 18px;">
                        <li style="margin-bottom: 10px;">
                          Simple laser adjustment controls windage &amp; elevation
                        </li>
                        <li style="margin-bottom: 10px;">
                          Convenient battery door means never having to
                          re-adjust laser after every battery change.
                        </li>
                        <li style="margin-bottom: 10px;">
                          Sliding Master Kill Switch forward enables True-Touch
                          Activation. Sliding it backward shuts everything off
                          to allow for iron-sights practice.
                        </li>
                    </ol>
                </div>
            </div>< // .col-md-6  -->




        </div><!-- // .row  -->
    </div><!-- // .container  -->
</div><!--  // .bg  -->



<div class="bg-fff" id="tr-series-holster-section">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h2 class="p1 text-center" style="font-size: 48px;">
                    Plenty of Holster Options
                </h2>
            </div>

            <div class="col-md-7 p3">

                <picture>
                    <source srcset="/assets/images/page/trSeries/laser-fit-holsters-logo_med.png"
                      alt="ArmaLaser laser fit holsters" media="(min-width:1200px)">

                    <source srcset="/assets/images/page/trSeries/laser-fit-holsters-logo_med.png"
                      alt="ArmaLaser laser fit holsters" media="(min-width:767px)">

                    <source srcset="/assets/images/page/trSeries/laser-fit-holsters-logo_small.png"
                      alt="ArmaLaser laser fit holsters" media="(min-width:200px)">

                    <img class="img-responsive center-block" style="width:80%;"
                      src="/assets/images/page/trSeries/laser-fit-holsters-logo_thumb.png"
                      alt="ArmaLaser laser fit holsters">
                </picture>

                <!-- <img class="img-responsive center-block" style="width:80%;"
                src="/assets/images/page/trSeries/laser-fit-holsters-logo.png"
                alt="ArmaLaser laser fit holsters"> -->
            </div>

            <div class="col-md-5">
                <p style="font-size: 16px;">
                    Choose from LASER-FIT Holsters from ArmaLaser / DeSantis
                    or these other
                    <a href="/holsters#holster-partners-section">
                        custom holster makers.
                    </a>
                    <a href="/holsters#laser-fit-holsters-section">
                        Find your model &amp; select a holster.
                    </a>
                </p>
            </div>

            <div class="col-md-12">
                <h2 class="p1 text-center" style="font-size: 48px;">
                    Warranty and Unedited, Unfiltered, REAL Reviews
                </h2>
            </div>


            <div class="col-md-7" style="font-size: 16px;">
                <img class="img-responsive center-block" style="width:50%;"
                src="/assets/images/page/trSeries/k_5_yr_warranty_268x280.png"
                alt="ArmaLaser 5 year warranty">
                <p class="text-center">
                  Longest laser warranty.
                </p>
                <p class="text-center">
                  <a href="/info/laser-warranty">
                    Read the ArmaCare 5-year Warranty.
                  </a>
                </p>
            </div>

            <div class="col-md-5" style="font-size: 16px;">
                <img class="img-responsive center-block" style="width:80%;"
                src="/assets/images/page/trSeries/l_review_stars_no_hand_359x308.png"
                alt="ArmaLaser reviews">
                <p class="text-center" style="margin-top:28px;">
                  Unedited, unfiltered REAL reviews.
                </p>
                <p class="text-center">
                  Read Amazon reviews on every product page
                </p>
            </div>

        </div><!-- // .row  -->
    </div><!-- // .container  -->
</div><!--  // .bg  -->




<div class="bg-f1f1f1" id="tr-series-all-pistols-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="margin-bottom: 30px; font-size: 48px;"
                  class="text-center">
                  All TR-Series Models
                    {% if models|length > 0 %}
                      <span class="badge" style="margin: -18px 0px 0px 7px;">
                          {{ models|length }}
                      </span>
                    {% endif %}
                </h1>
            </div>


            <div class="col-md-12">

                <div id="tr-series-page-array">
                    {% if models %}
                        {% for item in models %}
                        <div class="products-by-brand-tr-series-page">

                            <div class="image-box-tr-series-page img-thumbnail">
                                <a href="/{{item.pistolMfr }}/{{ item.slug }}/tr-series/{{ item.id }}/{{ item.model }}" title="See {{ item.model|upper }} details">
                                    <img src="/assets/images/laser-pistol/{{ item.model|trim('g') }}/{{ item.img_thumb }}"
                                      alt="ArmaLaser {{ item.series|upper }} lasers">
                                </a>

                                <div id="tr-series-page-model-match">
                                    <h4 class="text-center">
                                        <a style="display:block;margin-bottom:6px;" href="/{{ item.pistolMfr }}" title="See more ArmaLaser &#10;products for {{ item.pistolMfr|upper }}">
                                            {% if item.pistolMfr == 'smith-wesson' %}SMITH & WESSON{% elseif item.pistolMfr == 'sig-sauer' %}SIG SAUER®{% else %}{{ item.pistolMfr|upper }}®{% endif %}
                                        </a>

                                        <a href="/{{item.pistolMfr }}/{{ item.slug }}/tr-series/{{ item.id }}/{{ item.model }}" title="Learn more about the {{ item.series|upper }} &#10;{{ item.model|upper }} {{ item.beam }} laser, custom designed &#10;for {{ item.pistolMfr|upper }} {{ item.pistol_models|raw }}">
                                            <span style="display:inline-block;font-size:14px;line-height:17px;padding: 0px 35px;">
                                                {{ item.pistol_models|upper }}
                                            </span>
                                        </a>
                                    </h4>

                                    <h4 class="bold">
                                      <a href="/{{item.pistolMfr }}/{{ item.slug }}/tr-series/{{ item.id }}/{{ item.model }}" title="Learn more about {{ item.model|upper }} &#10;{{ item.beam }} laser for {{ item.pistol_models }}">
                                        <span style="color:#000";>{{ item.model|upper }}</span>
                                      </a>
                                    </h4>
                                </div><!-- // #tr-series-page-model-match -->
                            </div><!-- // image-box-tr-series-page  -->

                            <!-- <div class="tr-series-video-review-box" style="min-height: 110px;">
                                <div>
                                    {% if item.comm_video %}
                                      <p class="text-center" style="margin-bottom: 18px;">
                                          {{ item.comm_video_title }}
                                      </p>
                                      <a href="{{ item.comm_video }}" target="_blank" title="Watch &#10;YouTube &#10;Video">
                                        <img class="media-object" src="/assets/images/youtube/{{ item.comm_video_poster }}" alt="YouTube video ad of {{ item.mfr_name }} {{ item.mfr_model_match }} with ArmaLaser {{ item.laser_model }} {{ item.laser_color}} laser">
                                      </a>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="tr-series-video-review-box" style="min-height: 110px;">
                                <p class="text-center" style="margin-bottom: 18px;">
                                    {{ item.pro_video_review_title }}
                                </p>
                                {% if item.pro_video_review %}
                                  <a href="{{ item.pro_video_review }}" target="_blank" title="Watch &#10;YouTube &#10;Video">
                                    <img class="media-object" src="/assets/images/youtube/{{ item.pro_video_review_poster }}" alt="YouTube video ad of {{ item.mfr_name }} {{ item.mfr_model_match }} with ArmaLaser {{ item.laser_model }} {{ item.laser_color}} laser">
                                  </a>
                                {% endif %}
                            </div>

                            <div class="submit-your-youtube-review">
                                <div class="submit-video-text">
                                    <a href="/contact/submit-video-review?laser_series={{ item.laser_series }}&amp;laser_model={{ item.laser_model }}" target="_blank" title="Submit your own &#10;YouTube Video Review&#10;for this ArmaLaser product &#10;for publication">
                                        Submit your YouTube video review
                                    </a>
                                </div>
                            </div>

                            {#% if item.pistol_video_review %#}
                              <div class="submit-your-youtube-review">
                                  <div class="submit-video-text">
                                      <a href="{ item.pistol_video_review }}" target="_blank" title="Watch &#10;YouTube &#10;Video" target="_blank">
                                          {% if item.pistol_video_review_title %}{{ item.pistol_video_review_title }}{% else %}&nbsp;{% endif %}
                                      </a>
                                  </div>
                              </div> -->


                              <!-- <div class="tr-series-video-review-box">
                                  <div class="media box-adjust">
                                      <div class="media-left">
                                        {% if item.video_src %}
                                          <p>
                                              Watch Gunblast's YouTube review
                                          </p>
                                          <a href="{{ item.video_src }}" target="_blank">
                                            <img class="media-object" src="/assets/images/youtube/{{ item.video_poster }}" alt="YouTube video review of {{ item.mfr_name }} {{ item.mfr_model_match }} with ArmaLaser {{ item.laser_model }} {{ item.laser_color}} laser">
                                          </a>
                                        {% endif %}
                                      </div>
                                      <div class="media-body">
                                          {% if item.video_src %}
                                            <p>
                                              <a href="/contact/submit-video-review?laser_series={{ item.laser_series }}&amp;laser_model={{ item.laser_model }}" target="_blank">
                                                  Submit your YouTube video review
                                              </a>
                                            </p>
                                          {% endif %}
                                      </div>
                                  </div>
                              </div> -->


                        </div>
                        {% endfor %}
                    {% endif %}
                </div>

            </div>

        </div>
    </div>
</div>

<!-- - - - - - - - - - - - -   Modal  - - - - - - - - - - - -  -->

<!-- http://www.tutorialrepublic.com/faq/how-to-embed-youtube-video-inside-bootstrap-modal.php -->
<div class="bs-example">
    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><span class="ethno">TR-Series</span> Installation &amp; Use Video</h4>
                </div>
                <div class="modal-body">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Ly481YejDaE" allowfullscreen></iframe>
                    <!--<iframe id="armalaserVideo" src="https://player.vimeo.com/video/88834264" allowfullscreen></iframe>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- - - - - - - - - - - - -  // Modal  - - - - - - - - - - - -  -->
{% endblock %}



{% block bottomjs %}
<script>
$(document).ready(function() {

    $("#tr-series-selection").click(function() {
        $("#tr-series-selection-display").slideDown("slow");
        //$("#tr-series-description").hide();
    });

});
</script>
{% endblock %}
