{% extends 'base.html' %}

{% block title %}
  GTO-FLX Series Lasers | ArmaLaser
{% endblock %}

{% block metadescription %}
ArmaLaser's GTO/FLX lasers are the world's finest concealed carry lasers. Over 140 models available in red and green. Fits onto almost any Picatinny Rail.
{% endblock %}

{% block css %}
{% endblock %}

{% block outsidecontainer %}
{% endblock %}


{% block content %}
{% include 'navbar-subheading.html' %}
<div class="bg-fff">
  <div class="container">
    <div class="row">

      <div class="col-md-12" style="margin-bottom:-57px;">

          <div class="gto-headline">
              <h1 class="text-center">
                  There&#39;s never been <em>anything</em>
                  <br>
                  like the GTO.
              </h1>

              <h3 class="text-uppercase text-center bold">The World&#39;s Finest Concealed Carry Laser.</h3>

              <!-- <p class="text-center" id="gto-text-box-top-one">
                  GTO fits onto almost any
                  <br>
                  Picatinny Rail
              </p> -->
          </div>

      </div><!-- // .col-md-12  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

      <div class="col-md-12 col-sm-12 never-been-anything">

          <picture>
              <source srcset="/assets/images/page/gtoflx/gtomainpic_1208x712.jpg"
                alt="armalaser gto-flx laser" media="(min-width:1200px)">

              <source srcset="/assets/images/page/gtoflx/gtomainpic_med.jpg"
                alt="armalaser gto-flx laser" media="(min-width:760px)">

              <source srcset="/assets/images/page/gtoflx/gtomainpic_small.jpg"
                alt="armalaser gto-flx laser" media="(min-width:200px)">

              <img style="margin-bottom 30px;" class="img-responsive center-block"
                src="/assets/images/page/gtoflx/gtomainpic_thumb.jpg"
                alt="armalaser gto-flx laser">
          </picture>

          <!-- <img class="img-responsive" src="/assets/images/page/gtoflx/gtomainpic_1208x712.jpg"
          alt="armalaser gto laser"> -->

      </div><!-- // .col-md-12  -->

    </div><!-- // .row  -->
  </div><!-- // .container  -->
</div><!--  // .bg  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

<div class="bg-f1f1f1">
    <div class="container">
        <div class="row">

            <div class="col-md-12 p3">

                <picture>
                    <source srcset="/assets/images/page/gtoflx/2016-11-01-GTOGRIPMODE.png"
                      alt="armalaser flx grip touch option" media="(min-width:1200px)">

                    <source srcset="/assets/images/page/gtoflx/2016-11-01-GTOGRIPMODE_med.png"
                      alt="armalaser flx grip touch option" media="(min-width:760px)">

                    <source srcset="/assets/images/page/gtoflx/2016-11-01-GTOGRIPMODE_small.png"
                      alt="armalaser flx grip touch option" media="(min-width:200px)">

                    <img class="img-responsive center-block"
                      src="/assets/images/page/gtoflx/2016-11-01-GTOGRIPMODE_thumb.png"
                      alt="armalaser flx grip touch option">
                </picture>

                <!-- <img class="img-responsive center-block"
                    src="/assets/images/page/gtoflx/2016-11-01-GTOGRIPMODE.png"
                     alt="armalaser flx grip touch option"> -->

            </div><!-- // .col-md-12  -->

        </div><!-- // .row  -->
    </div><!-- // .container  -->
</div><!--  // .bg  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->


<div class="bg-fff">
    <div class="container" style="padding: 65px 0px;">
        <div class="row">

          <div class="col-md-6">
              <picture>
                  <source srcset="/assets/images/page/gtoflx/FLEXPIC1_mod.png"
                    alt="ArmaLaser flx grip touch option with GTO laser"
                    media="(min-width:1200px)">

                  <source srcset="/assets/images/page/gtoflx/FLEXPIC1_mod_med.png"
                    alt="ArmaLaser flx grip touch option with GTO laser"
                    media="(min-width:760px)">

                  <source srcset="/assets/images/page/gtoflx/FLEXPIC1_mod_small.png"
                    alt="ArmaLaser flx grip touch option with GTO laser"
                    media="(min-width:200px)">

                  <img class="img-responsive center-block"
                    src="/assets/images/page/gtoflx/FLEXPIC1_mod_thumb.png"
                    alt="ArmaLaser flx grip touch option with GTO laser">
              </picture>
              <!-- <img class="img-responsive" src="/assets/images/page/gtoflx/FLEXPIC1_mod.png"
              alt="ArmaLaser flx grip touch option with GTO laser"> -->
          </div><!-- // .col-md-6  -->

          <div class="col-md-6" style="margin-top: -30px;">
              <picture>
                  <source srcset="/assets/images/page/gtoflx/FLEXPIC2_mod.png"
                    alt="ArmaLaser flx grip touch option with GTO laser"
                    media="(min-width:1200px)">

                  <source srcset="/assets/images/page/gtoflx/FLEXPIC2_mod_med.png"
                    alt="ArmaLaser flx grip touch option with GTO laser"
                    media="(min-width:760px)">

                  <source srcset="/assets/images/page/gtoflx/FLEXPIC2_mod_small.png"
                    alt="ArmaLaser flx grip touch option with GTO laser"
                    media="(min-width:200px)">

                  <img class="img-responsive center-block"
                    src="/assets/images/page/gtoflx/FLEXPIC2_mod_thumb.png"
                    alt="ArmaLaser flx grip touch option with GTO laser">
              </picture>
              <!-- <img class="img-responsive" src="/assets/images/page/gtoflx/FLEXPIC2_mod.png"
                  alt="ArmaLaser flx grip touch option with GTO laser"> -->
          </div><!-- // .col-md-6  -->


        </div><!-- // .row  -->
    </div><!-- // .container  -->
</div><!--  // .bg  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

<div class="bg-f1f1f1">
    <div class="container">
        <div class="row">

          <div class="col-md-12">
              <h2 class="text-center gto-headline" id="gto-custom-fit-for">
                  Custom fit for your pistol model.
              </h2>
              <p class="text-uppercase text-center bold"
                style="margin-bottom: 30px; letter-spacing: 1px; font-size:20px; color:#838383;">
                  Made from the same material as polymer pistols.
              </p>
          </div>


          <div class="col-md-6">

              <p class="text-uppercase bold text-right" id="gto-text-box-top-six">
                  FLX&#39;s are made from an ultra-thin,
                  <br>
                  ultra-strong NASA-used polymer
                  <br>
                  with 3M adhesive backing
              </p>
              <img class="img-responsive" src="/assets/images/page/gtoflx/flexpic_469x430.png"
                alt="armalaser flx grip touch activation laser">
              <p class="text-uppercase bold text-center" id="gto-text-box-top-seven">
                  Will not harm pistol finish,
                  <br>
                  cleaning solvent-resistant.
                  <br>
                  super-strong and stays put.
              </p>

          </div>


          <div class="col-md-6">
              <div id="gto-text-box-top-eight">
                  <p class="text-uppercase bold text-center" style="color:#0000ff;">
                      high-impact dupont zytel frn makes every armalaser the toughest laser money can buy
                  </p>
                  <img class="img-responsive" src="/assets/images/page/gtoflx/polymer_414x335.png"
                    alt="armalaser flx grip touch activation laser">
              </div>
          </div>


          <div class="col-md-12">
              <p class="bold">
                <a href="/#top">
                  Choose by pistol brand
                </a>
              </p>
          </div>

       </div><!-- // .row  -->
    </div><!-- // .container  -->
</div><!--  // .bg  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

<div class="bg-fff" style="margin-bottom: 50px;">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h2 class="text-center gto-headline" style="margin-top: 10px;">
                    Can be used without a FLX.
                </h2>
                <p class="text-uppercase text-center bold" style="margin-bottom: 30px; letter-spacing: 1px; font-size:20px; color:#838383;">
                    Laser can also be activated by touching GTO sides.
                    <br><br>
                    GTO SHOWN INSTALLED WITH
                    FINGER TOUCH ADAPTER (FTA)
                </p>
            </div>

            <div class="col-md-12">

                <picture>
                    <source srcset="/assets/images/page/gtoflx/2016-11-01-GTO-touch-activation-with-beam2.png"
                      alt="ArmaLaser gto series laser with touch activation"
                      media="(min-width:1200px)">

                    <source srcset="/assets/images/page/gtoflx/2016-11-01-GTO-touch-activation-with-beam2_med.png"
                      alt="ArmaLaser gto series laser with touch activation"
                      media="(min-width:760px)">

                    <source srcset="/assets/images/page/gtoflx/2016-11-01-GTO-touch-activation-with-beam2_small.png"
                      alt="ArmaLaser gto series laser with touch activation"
                      media="(min-width:200px)">

                    <img class="img-responsive center-block"
                      src="/assets/images/page/gtoflx/2016-11-01-GTO-touch-activation-with-beam2_thumb.png"
                      alt="ArmaLaser gto series laser with touch activation">
                </picture>

                <!-- <img class="img-responsive p1"
                  src="/assets/images/page/gtoflx/2016-11-01-GTO-touch-activation-with-beam2.png"
                  alt="armalaser gto series laser with touch activation"> -->
            </div>

            <div class="col-md-offset-1 col-md-3">
                <p class="text-uppercase" style="font-size: 22px;">
                    activate laser by touching either side contact with extended trigger finger.
                </p>
            </div>
            <div class="col-md-offset-4 col-md-4">
                <p class="text-uppercase" style="font-size: 22px;">
                    don't install the included FLX if you prefer this activation method.
                </p>
            </div>

        </div><!-- // .row  -->
    </div><!-- // .container  -->
</div><!--  // .bg  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

<div class="bg-f1f1f1">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h2 class="text-center gto-headline">
                    Easy to live with.
                </h2>
                <p class="text-uppercase text-center bold" id="convenient-battery-door">
                    convenient battery door. simple laser adjustment.
                    <br>
                    master kill switch for iron-sights practice.
                </p>
            </div>

            <div class="col-md-4">
              <div style="height:430px;">

                    <picture>
                        <source srcset="/assets/images/page/gtoflx/2016-11-GTOBATTERYDOOR.png"
                            alt="tr-series battery door"
                            media="(min-width:1200px)">

                        <source srcset="/assets/images/page/gtoflx/2016-11-GTOBATTERYDOOR_small.png"
                            alt="tr-series battery door"
                            media="(min-width:760px)">

                        <source srcset="/assets/images/page/gtoflx/2016-11-GTOBATTERYDOOR_small.png"
                            alt="tr-series battery door"
                            media="(min-width:200px)">

                        <img class="img-responsive center-block"
                            src="/assets/images/page/gtoflx/2016-11-GTOBATTERYDOOR_thumb.png"
                            alt="tr-series battery door">
                    </picture>
                        <!-- <img class="img-responsive center-block"
                          src="/assets/images/page/gtoflx/2016-11-GTOBATTERYDOOR.png"
                          alt="tr-series battery door"> -->
              </div>
                <p class="text-center text-uppercase" style="padding-top:10px; color:#787878; color:#0000ff;">
                    Battery door means never needing
                    <br>
                    to re-adjust laser after battery changes.
                </p>
            </div><!-- // .col-md-5  -->

            <div class="col-md-8">
              <div style="height:430px;">
                  <picture>
                      <source srcset="/assets/images/page/gtoflx/2016-11-GTO-adjustment2_med.png"
                          alt="tr-series wind adjustment setting"
                          media="(min-width:1200px)">

                      <source srcset="/assets/images/page/gtoflx/2016-11-GTO-adjustment2_med.png"
                          alt="tr-series wind adjustment setting"
                          media="(min-width:760px)">

                      <source srcset="/assets/images/page/gtoflx/2016-11-GTO-adjustment2_small.png"
                          alt="tr-series wind adjustment setting"
                          media="(min-width:200px)">

                      <img class="img-responsive center-block"
                          src="/assets/images/page/gtoflx/2016-11-GTO-adjustment2_thumb.png"
                          alt="tr-series wind adjustment setting">
                  </picture>
                        <!-- <img class="img-responsive center-block"
                          src="/assets/images/page/gtoflx/2016-11-GTO-adjustment2.png"
                          alt="tr-series wind adjustment setting"> -->
              </div>
                <p class="text-center text-uppercase" style="padding-top:15px; color:#0000ff;">
                    Easy to control over windage and elevation
                </p>
            </div><!-- // .col-md-7  -->
        </div><!-- // .row  -->
    </div><!-- // .container  -->
</div><!--  // .bg  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

<div class="bg-fff">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h2 class="text-center color838383 p1 text50">
                    Watch how easy it is to install a FLX.
                </h2>

                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9 p3">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9z6foYm2-Dc?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                  <!--<iframe id="flex_install" src="https://player.vimeo.com/video/96041996" allowfullscreen></iframe>-->
                </div>
            </div>

        </div><!-- // .row  -->
    </div><!-- // .container  -->
    <div id="find-gto-flx"></div>
</div><!--  // .bg  -->



<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

<div class="bg-f1f1f1">
    <div class="container">
        <div class="row">

            <h2 class="text-center color787878 p1 text50" style="margin-bottom: 19px;">
                Find a GTO/FLX Combo for your pistol model.
            </h2>

            <h4 class="text-center colora9a9a9">
                <a id="gto-page-hide">
                    Hide List
                </a>
            </h4>


            <div class="col-md-12" id="gto-flx-section">

                <div class="col-md-10 col-md-offset-1">

                    <h2 class="text-uppercase color787878 bold p0">
                        Pistol Model(s) / GTO/FLX
                    </h2>

                    {% if gto %}
                        {% for item in gto %}
                            <div id="gto-page-match-box">
                                <p class="text20">
                                    <a href="/{{ item.pistolMfr }}/{{ item.slug }}/gto-flx/{{ item.id }}/{{ item.model }}" title="Product details">
                                        {{ item.pistolMfr|upper }}
                                        <span style="font-weight:bold">{{ item.pistol_models|raw }}</span>
                                        --
                                        {{ (item.model|replace({ 'gto-flx' : 'gto/flx' }))|upper }}
                                    </a>
                                </p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div><!--  // .col-md-10 col-md-offset-1  -->

            </div><!-- // col-md-12  -->

            <h4 class="text-center colora9a9a9">
                <a id="gto-page-show">
                    Show GTO/FLX
                </a>
            </h4>

        </div><!-- // .row  -->
    </div><!-- // .container  -->
</div><!--  // .bg  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->


<div class="bg-fff">
  <div class="container">
      <div class="row">

      <div class="col-md-12">
          <h2 class="text-center color787878 p1 text40 text-uppercase">
              use our glove patches to activate laser with gloves on.
          </h2>
      </div>

      <div class="col-md-12 p5">
          <a href="/touch-activation/glove-contacts">

              <picture>
                  <source srcset="/assets/images/page/gtoflx/FLEXPIC4_mod.png"
                      alt="ArmaLaser contact patches" media="(min-width:1200px)">

                  <source srcset="/assets/images/page/gtoflx/FLEXPIC4_mod_med.png"
                      alt="ArmaLaser contact patches" media="(min-width:760px)">

                  <source srcset="/assets/images/page/gtoflx/FLEXPIC4_mod_small.png"
                      alt="ArmaLaser contact patches" media="(min-width:200px)">

                  <img class="img-responsive center-block"
                      src="/assets/images/page/gtoflx/FLEXPIC4_mod_thumb.png"
                      alt="ArmaLaser contact patches">
              </picture>

            <!-- <img class="img-responsive center-block"
                src="/assets/images/page/gtoflx/FLEXPIC4_mod.png"
              alt="ArmaLaser contact patches"> -->
          </a>
      </div>


      <div class="col-md-5">
          <img class="img-responsive center-block"  style="width:63%;"
            src="/assets/images/page/gtoflx/k_5_yr_warranty_268x280.png"
            alt="ArmaLaser 5 year warranty">
          <p class="text-center bold" style="font-size: 20px; color: #838383;">
            Longest laser warranty.
          </p>
          <p class="text-center bold" style="font-size: 24px; color: #00ffff;">
            <a href="/info/laser-warranty">
              <em>Read the ArmaCare 5-year Warranty.</em>
            </a>
          </p>
      </div>

      <div class="col-md-2">
          &nbsp;
      </div>

      <div class="col-md-5">
          <img class="img-responsive center-block" style="width:91%;"
            src="/assets/images/page/gtoflx/l_review_stars_no_hand_502x356.png"
            alt="ArmaLaser reviews">
          <p class="text-center bold" style="font-size: 20px; color: #838383;">
            Unedited, unfiltered REAL reviews.
          </p>
          <p class="text-center bold" style="font-size: 24px;">
            <a href="#">
              <em>Read the Amazon reviews</em>
            </a>
          </p>
      </div>

    </div><!-- // .row  -->
  </div><!-- // .container  -->
</div><!--  // .bg  -->
{% endblock %}

{% block bottomjs %}
<script>
$(document).ready(function(){

    $("#gto-page-hide").click(function() {
        var text = $(this).text().trim();
        console.log(text);
        if (text == 'Hide List') {
            $("#gto-flx-section").slideUp(500);
            $("#gto-page-hide").text("Show List");
        }
        if (text == 'Show List') {
            $("#gto-flx-section").slideDown(1000);
            $("#gto-page-hide").text("Hide List");
        }
    });


});
</script>
{% endblock %}
