{% extends "base.html" %}

{% block title %}
    Error
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

      <div class="col-md-12">
          <h1>Error </h1>
          <hr>
      </div>

      <div class="col-md-8" style="margin-bottom: 300px;">
          <h1>An error occurred</h1>
          <p>Sorry, an error has occurred.</p>
      </div>

      <div class="col-md-4">
      </div><!-- // .col-md-4  -->

    </div><!-- // .row  -->
</div><!-- // .container  -->
{% endblock %}
