<li class="title" id="base-admin-tr-series-title">
    <span class="glyphicon glyphicon-star text-size130 m-leftminus20"></span>
     &nbsp; TR Series
</li>
<div id="base-admin-tr-series-section">
    <li class="subtitle" id="base-admin-tr-series-add">
        <a href="/admin/lasers/add-trseries">
            Add
        </a>
    </li>
    <li class="subtitle p0 btm-margin" id="base-admin-tr-series-manage">
        <a href="/admin/lasers/get-trseries">
            Manage
        </a>
    </li>
</div>

<!-- - - GTO/FLX - - - - - - - - - - - - - - - - - - - - -->

<li class="title" id="base-admin-gto-flx-title">
    <span class="glyphicon glyphicon-star text-size130 m-leftminus20"></span>
     &nbsp; GTO/FLX
</li>
<div id="base-admin-gtoflx-section">
    <li class="subtitle" id="base-admin-gto-flx-add">
        <a href="/admin/lasers/add-gtoflx">
            Add
        </a>
    </li>
    <li class="subtitle p0 btm-margin" id="base-admin-gto-flx-manage">
        <a href="/admin/lasers/get-gtoflxs">
            Manage
        </a>
    </li>
</div>

<!-- - - Stingray - - - - - - - - - - - - - - - - - - - -->

<li class="title" id="base-admin-stingray-title">
    <span class="glyphicon glyphicon-star text-size130 m-leftminus20"></span>
     &nbsp; Stingray
</li>
<div id="base-admin-stingray-section">
    <li class="subtitle" id="base-admin-stingray-add">
        <a href="/admin/lasers/add-stingray">
            Add
        </a>
    </li>
    <li class="subtitle p0 btm-margin" id="base-admin-stingray-manage">
        <a href="/admin/lasers/get-stingrays">
            Manage
        </a>
    </li>
</div>

<!-- - - - FLX - - - - - - - - - - - - - - - - - - - - -->

<li class="title" id="base-admin-flx-title">
    <span class="glyphicon glyphicon-plus text-size130 m-leftminus20"></span>
     &nbsp; FLX
</li>
<div id="base-admin-flx-section">
    <li class="subtitle" id="base-admin-flx-add">
        <a href="/admin/flxs/add-flx">
            Add
        </a>
    </li>
    <li class="subtitle p0 btm-margin" id="base-admin-flx-manage">
        <a href="/admin/flxs/get-flxs">
            Manage
        </a>
    </li>
</div>

<!-- - - Holsters - - - - - - - - - - - - - - - - - - - -->

<li class="title" id="base-admin-holsters-title">
    <span class="glyphicon glyphicon-briefcase text-size130 m-leftminus20"></span>
     &nbsp;Holsters
</li>
<div id="base-admin-holsters-section">
    <li class="subtitle" id="base-admin-holsters-add">
        <a href="#">
            Add
        </a>
    </li>
    <li class="subtitle p0 btm-margin" id="base-admin-holsters-manage">
        <a href="/admin/holsters/get-holsters">
            Manage
        </a>
    </li>
</div>

<!-- - - Accessories - - - - - - - - - - - - - - - - - -->

<li class="title" id="base-admin-accessories-title">
    <span class="glyphicon glyphicon-th text-size130 m-leftminus20"></span>
     &nbsp; Accessories
</li>
<div id="base-admin-accessories-section">
    <li class="subtitle" id="base-admin-accessories-add">
        <a href="#">
            Add
        </a>
    </li>
    <li class="subtitle p0 btm-margin" id="base-admin-accessories-manage">
        <a href="/admin/accessories/get-accessories">
            Manage
        </a>
    </li>
</div>

<!-- - - Batteries  - - - - - - - - - - - - - - - - - - -->

<li class="title" id="base-admin-batteries-title">
    <span class="glyphicon glyphicon-flash text-size130 m-leftminus20"></span>
     &nbsp; Batteries
</li>
<div id="base-admin-batteries-section">
    <li class="subtitle" id="base-admin-batteries-add">
        <a href="#">
            Add
        </a>
    </li>
    <li class="subtitle p0 btm-margin" id="base-admin-batteries-manage">
        <a href="/admin/accessories/get-batteries">
            Manage
        </a>
    </li>
</div>

<!-- - - Toolkits - - - - - - - - - - - - - - - - - - - -->

<li class="title" id="base-admin-toolkits-title">
    <span class="glyphicon glyphicon-wrench text-size130 m-leftminus20"></span>
     &nbsp; Toolkits
</li>
<div id="base-admin-toolkits-section">
    <li class="subtitle" id="base-admin-toolkits-add">
        <a href="#">
            Add
        </a>
    </li>
    <li class="subtitle p0 btm-margin" id="base-admin-toolkits-manage">
        <a href="/admin/accessories/get-toolkits">
            Manage
        </a>
    </li>
</div>

<!-- - - Gun shows - - - - - - - - - - - - - - - - - - - -->

<li class="title" id="base-admin-shows-title">
    <span class="glyphicon glyphicon-globe text-size130 m-leftminus20"></span>
     &nbsp; Gun Shows
</li>
<div id="base-admin-shows-section">
    <li class="subtitle" id="base-admin-shows-add">
        <a href="/admin/shows/add-show">
            Add
        </a>
    </li>
    <li class="subtitle p0 btm-margin" id="base-admin-shows-manage">
        <a href="/admin/shows/get-shows">
            Manage
        </a>
    </li>
</div>


<!-- - - Customers - - - - - - - - - - - - - - - - - - - - -->

<li class="title" id="base-admin-customers-title">
    <span class="glyphicon glyphicon-bullhorn text-size130 m-leftminus20"></span>
     &nbsp; Customers
</li>
<div id="base-admin-customers-section">
    <!-- <li class="subtitle" id="base-admin-customers-add">
        <a href="/admin/customers/add-customer">
            Add
        </a>
    </li> -->
    <li class="subtitle p0 btm-margin" id="base-admin-customers-manage">
        <a href="/admin/customers/get-customers">
            Manage
        </a>
    </li>
</div>

<!-- - - Dealers - - - - - - - - - - - - - - - - - - - - -->

<li class="title" id="base-admin-dealers-title">
    <span class="glyphicon glyphicon-bullhorn text-size130 m-leftminus20"></span>
     &nbsp; Dealers
</li>
<div id="base-admin-dealers-section">
    <li class="subtitle" id="base-admin-dealers-add">
        <a href="/admin/dealers/add-dealer">
            Add
        </a>
    </li>
    <li class="subtitle p0 btm-margin" id="base-admin-dealers-manage">
        <a href="/admin/dealers/get-dealers">
            Manage
        </a>
    </li>
</div>

<!-- - - Partners - - - - - - - - - - - - - - - - - - - - -->

<li class="title" id="base-admin-partners-title">
    <span class="glyphicon glyphicon-bullhorn text-size130 m-leftminus20"></span>
     &nbsp; Partners
</li>
<div id="base-admin-partners-section">
    <li class="subtitle" id="base-admin-partners-add">
        <a href="/admin/partners/add-partner">
            Add
        </a>
    </li>
    <li class="subtitle p0 btm-margin" id="base-admin-partners-manage">
        <a href="/admin/partners/get-partners">
            Manage
        </a>
    </li>
</div>

<!-- - - Users - - - - - - - - - - - - - - - - - - - - - -->

<li class="title" id="base-admin-users-title">
    <span class="glyphicon glyphicon-user text-size130 m-leftminus20"></span>
     &nbsp; Users
</li>
<div id="base-admin-users-section">
    <li class="subtitle" id="base-admin-users-add">
        <a href="/admin/users/add-user">
            Add
        </a>
    </li>
    <li class="subtitle p0 btm-margin" id="base-admin-users-manage">
        <a href="/admin/users/get-users">
            Manage
        </a>
    </li>
</div>

<!-- - - Endicia - - - - - - - - - - - - - - - - - - - - -->

<li class="title" id="base-admin-postage-title">
    <span class="glyphicon glyphicon-share-alt text-size130 m-leftminus20"></span>
     &nbsp; Endicia (USPS)
</li>
<div id="base-admin-postage-section">
    <li class="subtitle p0 btm-margin" id="base-admin-postage-account-status">
        <a href="/admin/postage/get-account-status">
            Account status
        </a>
    </li>
</div>

<!-- - - UPS - - - - - - - - - - - - - - - - - - - - -->
<!-- <li class="title" id="base-admin-ups-title">
  UPS
</li>
<div id="base-admin-ups-section">
    <li class="subtitle p0 btm-margin" id="base-admin-ups-void-label">
        <a href="/admin/postage/void-label-ups">
            Void label
        </a>
    </li>
</div> -->

<li class="title" id="base-admin-orders-title">
    <span class="glyphicon glyphicon-th-list text-size130 m-leftminus20"></span>
     &nbsp; Orders
</li>
<div id="base-admin-orders-section">
    <li class="subtitle p0" id="base-admin-orders-all">
        <a href="/admin/orders/get-orders?status=all">
            All
        </a>
    </li>
    <li class="subtitle p0" id="base-admin-orders-pending">
        <a href="/admin/orders/get-orders?status=pending">
            New (pending)
        </a>
    </li>
    <!-- <li class="subtitle p0" id="base-admin-orders-label-created">
        <a href="/admin/orders/get-orders?status=label-created">
            Ready to ship
        </a>
    </li> -->
    <li class="subtitle p0" id="base-admin-orders-shipped">
        <a href="/admin/orders/get-orders?status=shipped">
            Shipped
        </a>
    </li>
    <li class="subtitle p0" id="base-admin-orders-return-pending">
        <a href="/admin/orders/get-orders?status=return-pending">
            Return pending
        </a>
    </li>
    <li class="subtitle p0 btm-margin" id="base-admin-orders-returned">
        <a href="/admin/orders/get-orders?status=returned">
            Returned
        </a>
    </li>
</div>

<!-- - - Labels - - - - - - - - - - - - - - - - - - - - -->

<li class="title" id="base-admin-labels-title">
    <span class="glyphicon glyphicon-tags text-size130 m-leftminus20"></span>
     &nbsp; Shipping Labels
</li>
<div id="base-admin-labels-section">
    <li class="subtitle" id="base-admin-labels-usps">
        <a href="/admin/labels/get-usps-labels">
            USPS
        </a>
    </li>
    <li class="subtitle" id="base-admin-labels-ups">
        <a href="/admin/labels/get-ups-labels">
            UPS
        </a>
    </li>
    <li class="subtitle p0 btm-margin" id="base-admin-return-labels-ups">
        <a href="/admin/labels/get-ups-return-labels">
            UPS return labels
        </a>
    </li>
</div>

<!-- - -Warranty Registration - - - - - - - - - - - - - -->
<li class="title" id="base-admin-warranty-title">
    <span class="glyphicon glyphicon-list-alt text-size130 m-leftminus20"></span>
     &nbsp; Warranty Registrations
</li>
<div id="base-admin-warranty-section">
    <li class="subtitle p0"  id="base-admin-warranty-search">
        <a href="/admin/warrantyregistrations/get-warranty-registrations">
            Search
        </a>
    </li>
</div>
