<!-- My account -->
<li class="title" id="base-admin-dealers-myaccount-title">
    <span class="glyphicon glyphicon-folder-open text-size130 m-leftminus20"></span>
     &nbsp; Account
</li>
<div id="base-admin-dealers-myaccount-section">
    <li class="subtitle btm-margin" id="base-admin-dealers-myaccount-show">
        <a href="/admin/dealers/main/get-account?id={{ session.user_id }}&type={{ session.userType }}">
            My account
        </a>
    </li>
</div>

<!-- Orders -->
<li class="title" id="base-admin-dealer-orders-title">
    <span class="glyphicon glyphicon-list-alt text-size130 m-leftminus20"></span>
     &nbsp; Orders
</li>
<div id="base-admin-dealer-orders-section">
    <li class="subtitle btm-margin"  id="base-admin-dealer-orders">
        <a href="/admin/dealers/main/get-orders?id={{ session.user_id }}">
            My orders
        </a>
    </li>
</div>

<!-- Lasers -->
<li class="title" id="base-admin-dealers-lasers-title">
    <span class="glyphicon glyphicon-star text-size130 m-leftminus20"></span>
     &nbsp; Lasers
</li>
<div id="base-admin-dealers-lasers-section">
    <li class="subtitle" id="base-admin-dealers-trseries-show">
        <a href="/admin/dealers/main/get-trseries">
            TR Series
        </a>
    </li>
    <li class="subtitle p1" id="base-admin-dealers-trseriesnp-show">
        <a href="/admin/dealers/main/get-trseriesnp">
            TR Series NP
        </a>
    </li>
    <li class="subtitle" id="base-admin-dealers-gtoflx-show">
        <a href="/admin/dealers/main/get-gtoflx">
            GTO/FLX
        </a>
    </li>
    <li class="subtitle p1" id="base-admin-dealers-gtonp-show">
        <a href="/admin/dealers/main/get-gtonp">
            GTO & GTO NP
        </a>
    </li>
    <li class="subtitle" id="base-admin-dealers-stingray-show">
        <a href="/admin/dealers/main/get-stingrays">
            Stingray
        </a>
    </li>
    <li class="subtitle btm-margin" id="base-admin-dealers-stingraynp-show">
        <a href="/admin/dealers/main/get-stingraysnp">
            Stingray NP
        </a>
    </li>
</div>

<!-- Holsters -->
<li class="title" id="base-admin-dealers-holsters-title">
    <span class="glyphicon glyphicon-star text-size130 m-leftminus20"></span>
     &nbsp; Holsters
</li>
<div id="base-admin-dealers-holsters-section">
    <li class="subtitle btm-margin" id="base-admin-dealers-holsters-show">
        <a href="/admin/dealers/main/get-holsters">
            Holsters
        </a>
    </li>
</div>

<!-- Accessories -->
<li class="title" id="base-admin-dealers-accessories-title">
    <span class="glyphicon glyphicon-star text-size130 m-leftminus20"></span>
     &nbsp; Accessories
</li>
<div id="base-admin-dealers-accessories-section">
    <li class="subtitle" id="base-admin-dealers-batteries-show">
        <a href="/admin/dealers/main/get-batteries">
            Batteries
        </a>
    </li>

    <li class="subtitle" id="base-admin-dealers-toolkits-show">
        <a href="/admin/dealers/main/get-toolkits">
            Tool Kits
        </a>
    </li>

    <li class="subtitle btm-margin" id="base-admin-dealers-accessories-show">
        <a href="/admin/dealers/main/get-accessories">
            Targets &amp; more
        </a>
    </li>
</div>

<!-- FLXs -->
<li class="title" id="base-admin-dealers-flx-title">
    <span class="glyphicon glyphicon-star text-size130 m-leftminus20"></span>
     &nbsp; FLX
</li>
<div id="base-admin-dealers-flx-section">
    <li class="subtitle btm-margin" id="base-admin-dealers-flx-show">
        <a href="/admin/dealers/main/get-flxs">
            FLX
        </a>
    </li>
</div>
