{% extends 'base.html' %}

{% block title %}
  Touch Activation | ArmaLaser
{% endblock %}

{% block metadescription %}
ArmaLaser's touch activation is advanced technology that allows you to instantly activate your Armalaser laser simply by touching it.
{% endblock %}

{% block css %}
{% endblock %}

{% block outsidecontainer %}
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8" style="margin-bottom: 30px;">
          <h1 class="pagetitle">{{ pagetitle }}</h1
            <div class="box-glove-contacts">
              <h3 class="details text-center">
                TOUCH ACTIVATION &#61; ADVANCED TECHNOLOGY
              </h3>

              <p class="p2">
                  If you&#39;ve ever used a smart phone or ATM touch screen, then you
                  already know what <strong>touch activation</strong> is. Superior to
                  mechanical switches, ArmaLaser believes that one day all advanced
                  firearms accessories will use ArmaLaser-style switching.
              </p>

              <h4 class="text-center bold">
                Touch Activation vs. Mechanical Switch Activation
              </h4>

              <table class="table table-bordered table-striped table-hover table-responsive">
                  <thead>
                      <tr>
                          <th></th>
                          <th>Mechanical Switch</th>
                          <th>Touch Activation</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>Accidental Activation</td>
                          <td>Very likely
                            <span class="glyphicon glyphicon-remove-circle red"></span>
                          </td>
                          <td>Not likely
                            <span class="glyphicon glyphicon-ok-circle green-checkmark"></span>
                          </td>
                      </tr>
                      <tr>
                          <td>Comfort</td>
                          <td>Awkward feel on grip
                            <span class="glyphicon glyphicon-remove-circle red"></span>
                          </td>
                          <td>Perfectly natural grip
                            <span class="glyphicon glyphicon-ok-circle green-checkmark"></span>
                          </td>
                      </tr>
                      <tr>
                          <td>Compatibility</td>
                          <td>Conditional on shape of hands
                            <span class="glyphicon glyphicon-remove-circle red"></span>
                          </td>
                          <td>Works with a wider range of hands
                            <span class="glyphicon glyphicon-ok-circle green-checkmark"></span>
                          </td>
                      </tr>
                      <tr>
                          <td>Immediacy</td>
                          <td>Must reach for or apply pressure
                            <span class="glyphicon glyphicon-remove-circle red"></span>
                          </td>
                          <td>Instantly on by normally gripping pistol
                            <span class="glyphicon glyphicon-ok-circle green-checkmark"></span>
                          </td>
                      </tr>
                  </tbody>
              </table>
              <p>
                  Even mechanical switches have problems with heavily padded gloves. Use our
                  new <a href="/touch-activation/glove-contacts" title="See glove contacts">metalic-threaded
                    ultra-thin glove patches</a> to insure activation reliability with
                    all types of gloves.
              </p>

              <p>
                <a href="/lasers/gto-flx-series">
                  Learn more about grip and finger touch activation. Watch our informative
                  video series.
                </a>
              </p>

            </div><!-- // .box-glove-contacts  -->
        </div><!-- // .col-md-8  -->

        <div class="col-md-4">
          <h2>&nbsp;</h2>
        </div><!-- // .col-md-4  -->

    </div>
</div>
{% endblock %}

{% block bottomjs %}

{% endblock %}
