{% extends 'base.html' %}

{% block title %}
  Testimonials | ArmaLaser
{% endblock %}

{% block css %}

{% endblock %}

{% block outsidecontainer %}

{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
          <h2>{{ pagetitle }}</h2>
                <div class="list-group">
                  <div class="list-group-item testimonials-title-bg-box">
                    <h3>What customers are saying . . .</h3>
                  </div>
                    {% for item in testimonials %}
                    <a href="#" class="list-group-item">
                      <h4 class="list-group-item-heading"><strong>{{ item.title }}</strong></h4>
                      <p class="list-group-item-text">{{ item.created_at }}</p>
                      <p class="list-group-item-text">{{ item.testimonial }}</p>
                    </a>
                    {% endfor %}
                </div>
        </div><!-- // .col-md-8  -->

        <div class="col-md-4">

        </div>

    </div>
</div>
{% endblock %}

{% block bottomjs %}

{% endblock %}
